extends base
- load staticfiles

block media
    link(rel='stylesheet', href='{% static "timezone-map.css" %}')
    | #{form.media.css}
    style.
        .map-inset { background: url('#{TIMEZONE_MAP}') 50% 50% }
        .map-wrap { display: none }
        .featherlight { z-index: 1000 }
        .featherlight .featherlight-content { min-width: 80% }
    if TIMEZONE_BG
        style.
            .map-wrap { background: #{TIMEZONE_BG} }

block js_media
    | #{form.media.js}

block body
    form.form-area(action='', method='post')
        - csrf_token
        table(border=0, style='text-align:left') #{form.as_table}
        input(type='submit', style="float:right;", value='Continue >')
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y

block bodyend
    script(type='text/javascript', src='{% static "timezone-picker.js" %}')
    script(type='text/javascript').
        $(function () {
            $('#open-map').featherlight({
                afterOpen: function () {
                    timezone_picker($('.featherlight-inner .map-inset'), $('#id_timezone'), '{% static "timezone-picker.json" %}');
                }
            });
        });
