extends base
- load i18n

block media
    include timezone/media
    | #{form.media.css}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 100px;
            max-height: 200px;
        }
block js_media
    include timezone/js_media
    | #{form.media.js}

block body
    form.form-area(action='', method='post')
        - csrf_token
        if form.errors
            #form-errors
                p.error
                    | #{form.non_field_errors}
                    if form.username.errors
                        | {% trans "Your chosen username is already taken." %}
                    if form.email.errors
                        | {% trans "Please enter a valid email." %}
                    | #{form.password1.errors|striptags}
                    | #{form.password2.errors|striptags}
                    if form.display_name.errors
                        | {% trans "Invalid display name." %}
                    if form.timezone.errors
                        | {% trans "Invalid timezone." %}
                    if form.organizations.errors
                        | {% trans "Invalid organizations specified." %}
                    if form.language.errors
                        | {% trans "Invalid language specified." %}
        .reg-post-wrapper
            table(border=0, style='text-align:left')
                tr
                    th
                        b {% trans "Username:" %}
                    td
                        | #{form.username}
                tr
                    th
                        b {% trans "Email:" %}
                    td
                        | #{form.email}
                tr
                    th
                        b {% trans "Password:" %}
                    td
                        | #{form.password1}
                tr
                    th
                        b {% trans "Password (again):" %}
                    td
                        | #{form.password2}
                tr
                    th
                        b {% trans "Display name:" %}
                    td
                        | #{form.display_name}
                tr
                    th
                        b {% trans "Timezone:" %}
                    td
                        | #{form.timezone}
                        = ' {% trans "or" %} '
                        a#open-map(href='#', data-featherlight='.map-wrap')
                            | {% trans "pick from map" %}
                tr
                    th
                        b {% trans "Organizations:" %}
                    td
                        | #{form.organizations}
                tr
                    th
                        b {% trans "Language:" %}
                    td
                        | #{form.language}
            
            hr
            button(style="float:right;", type='submit') {% trans "Register!" %}
            input(type='hidden', name='next', value=next)
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
