extends base
- load staticfiles

block media
    link(rel='stylesheet', href='{% static "timezone-map.css" %}')
    link(href=FEATHERLIGHT_CSS, type='text/css', rel='stylesheet')
    script(src=FEATHERLIGHT_JS, type='text/javascript', charset='utf-8')
    style
        .map-inset { background: url('#{TIMEZONE_MAP}') 50% 50% }
    if TIMEZONE_BG
        style
            .map-wrap { background: #{TIMEZONE_BG} }

block body
    form.form-area(action='', method='post')
        - csrf_token
        if form.errors
            #form-errors
                | #{form.non_field_errors}
                | #{form.parent.errors}
                | #{form.parent}
        .reg-post-wrapper
            table(border=0, style='text-align:left')
                tr
                    th
                        b Username:
                    td
                        | #{form.username}
                tr
                    th
                        b Email:
                    td
                        | #{form.email}
                tr
                    th
                        b Password:
                    td
                        | #{form.password1}
                tr
                    th
                        b Password (again):
                    td
                        | #{form.password2}
                tr
                    th
                        b Display name:
                    td
                        | #{form.display_name}
                tr
                    th
                        b Timezone:
                    td
                        | #{form.timezone}
                        = ' or '
                        a(href='#', data-featherlight='.map-wrap')
                            | pick from map
                tr
                    th
                        b Organization:
                    td
                        | #{form.organization}
                tr
                    th
                        b Language:
                    td
                        | #{form.language}
            
            hr
            button(style="float:right;", type='submit') Register!
            input(type='hidden', name='next', value=next)
    div.map-wrap(style='display:none')
        div.map-inset
            div.map-axis-x
            div.map-axis-y

block bodyend
    script(type='text/javascript', src='{% static "timezone-picker.js" %}')
    script(type='text/javascript')
        $(function () {
            timezone_picker($('.map-inset'), $('#id_timezone'), '{% static "timezone-picker.json" %}');
        });
