extends base
- load media_extract

block media
    include timezone/media
    | #{form.media|media_type:"css"}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 100px;
            max-height: 200px;
        }
block js_media
    include timezone/js_media
    | #{form.media|media_type:"js"}

block body
    form.form-area(action='', method='post')
        - csrf_token
        if form.errors
            #form-errors
                p.error
                    | #{form.non_field_errors}
                    if form.username.errors
                        | Your chosen username is already taken.
                    if form.email.errors
                        | Please enter a valid email.
                    = form.password1.errors
                    = form.password2.errors
                    if form.display_name.errors
                        | Invalid display name.
                    if form.timezone.errors
                        | Invalid timezone.
                    if form.organizations.errors
                        | Invalid organizations specified.
                    if form.language.errors
                        | Invalid language specified.
        .reg-post-wrapper
            table(border=0, style='text-align:left')
                tr
                    th
                        b Username:
                    td
                        | #{form.username}
                tr
                    th
                        b Email:
                    td
                        | #{form.email}
                tr
                    th
                        b Password:
                    td
                        | #{form.password1}
                tr
                    th
                        b Password (again):
                    td
                        | #{form.password2}
                tr
                    th
                        b Display name:
                    td
                        | #{form.display_name}
                tr
                    th
                        b Timezone:
                    td
                        | #{form.timezone}
                        = ' or '
                        a#open-map(href='#', data-featherlight='.map-wrap')
                            | pick from map
                tr
                    th
                        b Organizations:
                    td
                        | #{form.organizations}
                tr
                    th
                        b Language:
                    td
                        | #{form.language}
            
            hr
            button(style="float:right;", type='submit') Register!
            input(type='hidden', name='next', value=next)
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
