extends base
- load i18n
- load recaptcha2

block media
    include timezone/media-css
    | #{form.media.css}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 100px;
            max-height: 200px;
        }

        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 70px;
            max-height: 200px;
            height: 70px
        }

        .grayed {
            color: #666;
        }

        .inline-header {
            float: left;
            font-size: 1.1em;
            padding: 4px 8px;
            padding-left: 0;
        }

        .block-header {
            color: #555;
            font-size: 1.1em;
            font-weight: 600;
            padding-bottom: 0.2em;
            padding-left: 2px;
            margin-top: 0.75em
        }

        .fullwidth {
            display: block;
            overflow: hidden;
        }

        .fullwidth input {
            width: 100%;
        }

        .fullwidth-error input {
            width: 100%;
            border-color: red;
        }

        .form-field-error {
            color: red;
        }

        small {
            font-size: 0.7em;
            padding-left: 0.6em;
        }

        #edit-form {
            border: unset;
            background: unset;
            max-width: 450px;
            width: 450px;
        }

        #content-body {
            text-align: center;
        }

        #center-float {
            display: inline-block;
            text-align: initial;
            max-width: 450px;
            width: 450px;
        }

        ul.errorlist {
            margin: 0px;
            text-align: right;
            list-style: none;
        }

        .full-textfield {
            padding-top: 0.5em;
        }

        .tos-section {
            display: inline-block;
            padding-right: 1em;
        }

block js_media
    include timezone/media-js
    | #{form.media.js}
    script(type='text/javascript').
        $(function () {
            $('.pass-req-link').click(function () {
                $('.pass-req').toggle('fast');
                return false;
            });
        });
    - recaptcha_init LANGUAGE_CODE

block body
    #center-float: form.form-area#edit-form(action='', method='post')
        - csrf_token

        .block-header {% trans "Username" %}
        span(class=('fullwidth-error' if form['username'].errors else 'fullwidth')) #{form.username}
        if form.username.errors
            .form-field-error #{form.username.errors}

        .block-header {% trans "Email" %}
        span(class=('fullwidth-error' if form['email'].errors else 'fullwidth')) #{form.email}
        if form.email.errors
            .form-field-error #{form.email.errors}

        .block-header {% trans "Password" %}
            small (#[a.pass-req-link(href='#')?])
        .pass-req(style='display: none'): ul
            each validator in password_validators
                li #{validator.get_help_text}
        span(class=('fullwidth-error' if form['password1'].errors else 'fullwidth')) #{form.password1}
        if form.password1.errors
            .form-field-error #{form.password1.errors}

        .block-header {% trans "Password" %}
            sup(style='font-size: 0.7em;padding-left: 0.2em;') 2
            small {% trans "(again, for confirmation)" %}
        span(class=('fullwidth-error' if form['password2'].errors else 'fullwidth')) #{form.password2}
        if form.password2.errors
            .form-field-error #{form.password2.errors}

        .block-header {% trans "Location" %}
        span.fullwidth: div #{form.timezone}
            div(style='float: right')
                | {% trans "or" %}
                = ' '
                a#open-map(href='#', data-featherlight='.map-wrap') {% trans "pick from map" %}

        .block-header {% trans "Default language" %}
        span.fullwidth #{form.language}

        div.block-header {% trans "Affiliated organizations" %}
        | #{form.organizations}

        if form.newsletter
            div(style='padding-top: 0.5em;') #{form.newsletter}
                label.inline-header.grayed(for='id_newsletter', style='float: unset;') {% trans "Notify me about upcoming contests" %}

        if form.captcha
            div #{form.captcha}

        hr
        if tos_url
            span.tos-section {% trans "By registering, you agree to our " %}
                a(href=tos_url) {% trans "Terms & Conditions" %}
                = '.'
        button(style="float:right;", type='submit') {% trans "Register!" %}
        input(type='hidden', name='next', value=next)
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
