extends base
- load staticfiles
- load compress

block media
    include timezone/media

block js_media
    include timezone/js_media

block body
    form.form-area(action='', method='post')
        - csrf_token
        if form.errors
            #form-errors
                | #{form.non_field_errors}
        .reg-post-wrapper
            table(border=0, style='text-align:left')
                tr
                    th
                        b Username:
                    td
                        | #{form.username}
                tr
                    th
                        b Email:
                    td
                        | #{form.email}
                tr
                    th
                        b Password:
                    td
                        | #{form.password1}
                tr
                    th
                        b Password (again):
                    td
                        | #{form.password2}
                tr
                    th
                        b Display name:
                    td
                        | #{form.display_name}
                tr
                    th
                        b Timezone:
                    td
                        | #{form.timezone}
                        = ' or '
                        a#open-map(href='#', data-featherlight='.map-wrap')
                            | pick from map
                tr
                    th
                        b Organization:
                    td
                        | #{form.organization}
                tr
                    th
                        b Language:
                    td
                        | #{form.language}
            
            hr
            button(style="float:right;", type='submit') Register!
            input(type='hidden', name='next', value=next)
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
