extends base
- load staticfiles
- load compress

block media
    - compress css
        if TIMEZONE_BG
            style
                .map-wrap { background: #{TIMEZONE_BG} }
        link(rel='stylesheet', href='{% static "timezone-map.css" %}')
        link(type='text/css', rel='stylesheet', href='{% static "featherlight.min.css" %}')
        style
            .map-inset { background: url('#{TIMEZONE_MAP}') 50% 50% }
            .map-wrap { display: none }
            .featherlight { z-index: 1000 }
            .featherlight .featherlight-content { min-width: 80% }

block js_media
    script(src='{% static "featherlight.min.js" %}', type='text/javascript', charset='utf-8')

block body
    form.form-area(action='', method='post')
        - csrf_token
        if form.errors
            #form-errors
                | #{form.non_field_errors}
                | #{form.parent.errors}
                | #{form.parent}
        .reg-post-wrapper
            table(border=0, style='text-align:left')
                tr
                    th
                        b Username:
                    td
                        | #{form.username}
                tr
                    th
                        b Email:
                    td
                        | #{form.email}
                tr
                    th
                        b Password:
                    td
                        | #{form.password1}
                tr
                    th
                        b Password (again):
                    td
                        | #{form.password2}
                tr
                    th
                        b Display name:
                    td
                        | #{form.display_name}
                tr
                    th
                        b Timezone:
                    td
                        | #{form.timezone}
                        = ' or '
                        a#open-map(href='#', data-featherlight='.map-wrap')
                            | pick from map
                tr
                    th
                        b Organization:
                    td
                        | #{form.organization}
                tr
                    th
                        b Language:
                    td
                        | #{form.language}
            
            hr
            button(style="float:right;", type='submit') Register!
            input(type='hidden', name='next', value=next)
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y

block bodyend
    script(type='text/javascript', src='{% static "timezone-picker.js" %}')
    script(type='text/javascript')
        $(function () {
            $('#open-map').featherlight({
                afterOpen: function () {
                    timezone_picker($('.featherlight-inner .map-inset'), $('#id_timezone'), '{% static "timezone-picker.json" %}');
                }
            });
        });
    script(type='text/javascript')
        if ('geolocation' in navigator) {
            $(function () {
                $('<span>, <a href="#" id="detect-tz">detect</a></span>').insertAfter('#open-map');
                $('#detect-tz').click(function (event) {
                    var button = $(this).html('detecting...');
                    navigator.geolocation.getCurrentPosition(function(position) {
                        $.ajax({
                            url: 'https://maps.googleapis.com/maps/api/timezone/json',
                            data: {
                                location: position.coords.latitude + ',' + position.coords.longitude,
                                timestamp: Math.floor(Date.now() / 1000)
                            }
                        }).done(function (data) {
                            if (data['timeZoneId'])
                                $('#id_timezone').val(data.timeZoneId);
                            else
                                alert('Invalid response from Google: ' + data);
                        }).fail(function (jqXHR, status) {
                            alert(status);
                        }).always(function () {
                            button.html('detect');
                        });
                    }, function () {
                        button.html('detect');
                        alert('Unable to detect');
                    });
                    event.preventDefault();
                });
            });
        }
