extends common-content
- load staticfiles
- load cache
- load cache_key
- load compress
- load i18n

block js_media
    if dynamic_update and last_msg
        script(type='text/javascript')
            if IN_CONTEST
                | window.current_contest = '#{CONTEST.contest.key}';
            else
                | window.current_contest = null;
            if dynamic_user_id
                | window.dynamic_user_id = #{dynamic_user_id};
            else
                | window.dynamic_user_id = null;
            if dynamic_problem_id
                | window.dynamic_problem_id = #{dynamic_problem_id};
            else
                | window.dynamic_problem_id = null;
            if show_problem
                | window.show_problem = 1;
            else
                | window.show_problem = 0;
    script(type='text/javascript', src='{% static "moment.js" %}')
    if has_select2
        script(type='text/javascript', src='{{ SELECT2_JS_URL }}')
        script.
            $(function () {
                $('#status').select2({multiple: 1, placeholder: '{% trans "Filter by status..." %}'});
                $('#language').select2({multiple: 1, placeholder: '{% trans "Filter by language..." %}'});
            });

    - compress js
        script(type='text/javascript', src='{% static "event.js" %}')
        if request.user.is_authenticated and perms.judge.rejudge_submission
            script(type='text/javascript').
                window.rejudge_submission = function(id, e) {
                    if ((typeof e !== 'undefined' && e.ctrlKey) ||
                            confirm('Are you sure you want to rejudge?')) {
                        $.ajax({
                            url: '{% url "submission_rejudge" %}',
                            type: "POST",
                            data: {
                                id: id
                            }
                        });
                    }
                };
        script(type='text/javascript').
            $(function () {
                var info_float = $('.info-float');
                var container = $('#content-right');
                if (window.bad_browser) {
                    container.css('float', 'right');
                } else if (!featureTest('position', 'sticky')) {
                    fix_div(info_float, 55);
                    $(window).resize(function () {
                        info_float.width(container.width());
                    });
                    info_float.width(container.width());
                }

                window.update_relative_time = register_update_relative(function () {
                    return $('#submissions-table').find('span.time');
                });
            });

        if dynamic_update and last_msg
            script(type='text/javascript').
                var _collect = function (e) { return e.value; }
                var language_filter = $.map($('select#language option[selected]'), _collect)
                var status_filter = $.map($('select#status option[selected]'), _collect);

                function load_dynamic_update(last_msg) {
                    var table = $('#submissions-table');
                    var statistics = $("#statistics-table");
                    var doing_ajax = false;
                    var first = parseInt(table.find('tr:first-child').attr('id'));

                    var update_submission = function (message, force) {
                        if (language_filter && 'language' in message && language_filter.indexOf(message.language) == -1)
                            return;
                        if (status_filter && 'status' in message && status_filter.indexOf(message.language) == -1)
                            return;

                        var id = message.id;
                        var row = table.find('tr#' + id);
                        if (row.length < 1) {
                            if (id < first)
                                return;
                            first = id;
                            row = $('<tr/>', {id: id}).hide().prependTo(table);
                            if (table.find('tr').length >= #{paginator.per_page})
                                table.find('tr:last-child').hide('slow', function () {
                                    $(this).remove();
                                });
                        }
                        if (force || !doing_ajax) {
                            if (!force) doing_ajax = true;
                            $.ajax({
                                url: '{% url "submission_single_query" %}',
                                data: {id: id, show_problem: show_problem}
                            }).done(function (data) {
                                var was_shown = row.is(':visible');
                                row.html(data);
                                update_relative_time(row.find('span.time'));
                                if (!was_shown)
                                    row.show('slow');
                                if (!force) doing_ajax = false;
                            }).fail(function () {
                                console.log('Failed to update submission: ' + id);
                                if (!force) doing_ajax = false;
                            });
                        }
                    };

                    var $body = $(document.body);

                    return new EventReceiver(
                            "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                            ['submissions'], last_msg, function (message) {
                                if (current_contest && message.contest != current_contest)
                                    return;
                                if (dynamic_user_id && message.user != dynamic_user_id ||
                                    dynamic_problem_id && message.problem != dynamic_problem_id)
                                    return;
                                if (message.type == 'update-submission') {
                                    if (message.state == 'test-case' && $body.hasClass('window-hidden'))
                                        return;
                                    update_submission(message);
                                } else if (message.type == 'done-submission') {
                                    update_submission(message, true);

                                    $.ajax({
                                        url: '?results'
                                    }).done(function (data) {
                                        statistics.html(data);
                                    }).fail(function () {
                                        console.log('Failed to update statistics table!' + id);
                                    });
                                }
                            }
                    );
                }
    script(type='text/javascript')
        | moment.locale('#{LANGUAGE_CODE}');
        if dynamic_update and last_msg
            | $(function () { load_dynamic_update(#{last_msg}); });

block header
    if my_submissions
        .title-line-action: a(href=my_submissions) {% trans "My submissions" %}

block media
    if has_select2
        link(href="{{ SELECT2_CSS_URL }}", type="text/css", media="screen", rel="stylesheet")
    if perms.judge.change_submission and perms.judge.rejudge_submission
        style.
            td.sub-prop, col.sub-prop { width: 22% }
            col.sub-info, td.sub-info { width: 78% }

block body
    #common-content
        #content-right.submission
            .info-float
                if has_select2
                    h3 {% trans "Filter submissions" %}
                    hr
                    form#filter-form(name='form', action='', method='get')
                        .filter-form-group
                            label(for='status'): i {% trans "Status" %}
                            select#status(name='status', onchange='form.submit()', multiple)
                                each id, name in all_statuses
                                    if id in selected_statuses
                                        option(value=id, selected)= name
                                    else
                                        option(value=id)= name
                            br
                        .filter-form-group
                            label(for='language'): i {% trans "Language" %}
                            select#language(name='language', onchange='form.submit()', multiple)
                                each code, name in all_languages
                                    if code in selected_languages
                                        option(value=code, selected)= name
                                    else
                                        option(value=code)= name
                            br
                else
                    #statistics-table
                        include problem/statistics_table
        #content-left.submission
            if page_obj.num_pages > 1
                div(style='margin-bottom:6px;margin-top:3px')
                    include list_pages

            table#submissions-table.table
                colgroup
                    col.sub-result
                    col.sub-info
                    col.sub-testcase
                    col.sub-prop
                    col.sub-usage
                if request.user.is_authenticated
                    - var profile_id = request.user.profile.id
                else
                    - var profile_id = 0
                if show_problem
                    each submission in submissions
                        tr(id=submission.id)
                            - include "submission/row.jade" with problem_name=submission.problem.i18n_name
                else
                    each submission in submissions
                        tr(id=submission.id)
                            include submission/row

            if page_obj.num_pages > 1
                div(style='margin-top:10px;')
                    include list_pages

block bodyend
// Don't load MathJax from common-content!
