- load static from staticfiles
- load mathtag
- load admin_urls
- load variables
- load tz
- load cache

if submission.status == 'IE' or submission.status == 'CE'
    submission_class = submission.status
else
    submission_class = submission.result

if profile_id
    - var can_view = profile_id == submission.user_id or perms['judge']['change_submission'] or submission.problem_id in completed_problem_ids
    - var show_prop = can_view
    if show_prop
        - var info_colspan = 1
    else
        - var info_colspan = 2
else
    - var show_prop = false
    - var info_colspan = 2

if submission.status != 'G'
    - var info_colspan = info_colspan + 1

td.sub-result(class=submission_class)
    .score
        if not submission.is_graded
            img(src='{% static "loading.gif" %}', alt='Grading...', height='20px')
        else
            if submission.status == 'IE' or submission.status == 'CE' or submission.status == 'AB'
                | ---
            else
                | #{submission.case_points|default_if_none:0|floatformat:"0"} / #{submission.case_total|floatformat:"0"}
    .state
        span.status(title=submission.long_status) #{submission.result|default_if_none:submission.status}
        | &nbsp;|&nbsp;
        - cache 86400 submission_lang submission.language_id
            span.language #{submission.language.short_display_name}

td(colspan=info_colspan, class=('sub-info sub-info-grading' if submission.status == 'G' else 'sub-info'))
    if show_problem
        .name
            - with problem=submission.problem
                a(href='{% url "problem_detail" problem.code %}') #{problem.name}
    div
        - cache 3600 submission_user submission.user_id
            span(class=submission.user.display_rank)
                a(href='{% url "judge.views.user" submission.user.user.username %}') #{submission.user.user.username}
        span.moment(style='display: none') #{submission.date|utc|date:"c"}
        = ' '
        span.time on #{submission.date|date:"N j, o, g:i a"}

if submission.status == 'G'
    td.sub-testcase
        if submission.current_testcase > 0
            | Running on test case ##{submission.current_testcase}
        else
            | ...

if show_prop
    td.sub-prop
        if can_view
            a(href='{% url "submission_status" submission.id %}') view
        if perms.judge.rejudge_submission
            | &nbsp;|&nbsp;
            a(href='javascript:rejudge_submission({{ submission.id }})') rejudge
        if perms.judge.change_submission
            | &nbsp;|&nbsp;
            a(href='{% url "admin:judge_submission_change" submission.id %}') admin

td.sub-usage
    if submission.status != 'QU' and submission.status != 'G' and submission.status != 'CE' and submission.status != 'IE' and submission.status != 'AB'
        if "TLE" != submission.result
            div(alt='{{ submission.time|default_if_none:0 }}s').time #{submission.time|default_if_none:0|floatformat:"2"}s
        else
            .time ---
        .memory
            - with memory=submission.memory|default_if_none:0
                if memory < 1000
                    | #{memory|floatformat:"-2"} K
                else
                    - math memory "$1 / 1024" as megabytes
                    | #{megabytes|floatformat:"-2"} M
    else
        .time ---
        .memory ---
