- load static from staticfiles
- load tz

if profile_id
    - var can_view = profile_id == submission.user_id or perms['judge']['change_submission'] or submission.problem_id in completed_problem_ids
    - var info_colspan = (1 if can_view else 2)
else
    - var can_view = false
    - var info_colspan = 2

if submission.status != 'G'
    - var info_colspan = info_colspan + 1

td.sub-result(class=(submission.status if submission.status in 'IECE' else (('AC' if submission.case_points == submission.case_total else '_AC') if submission.result == 'AC' else submission.result)))
    .score
        if submission.is_graded
            if submission.status in 'IECEAB'
                | ---
            else
                | #{submission.case_points|floatformat:"0"} / #{submission.case_total|floatformat:"0"}
        else
            i.fa.fa-spinner.fa-pulse
    .state
        span.status(title=submission.long_status)= submission.short_status
        = ' | '
        span.language #{submission.language.short_display_name}

td(colspan=info_colspan, class=('sub-info sub-info-grading' if submission.status == 'G' else 'sub-info'))
    if show_problem
        .name
            - with problem=submission.problem
                a(href='{% url "problem_detail" problem.code %}') #{problem.name}
    div
        span(class=submission.user.display_rank)
            a(href='{% url "user_page" submission.user.user.username %}') #{submission.user.user.username}
        span.moment(style='display: none') #{submission.date|utc|date:"c"}
        = ' '
        span.time
            .relative on #{submission.date|date:"N j, o, g:i a"}
            .absolute on #{submission.date|date:"N j, o, g:i a"}

if submission.status == 'G'
    td.sub-testcase
        if submission.current_testcase > 0
            | Case ##{submission.current_testcase}
        else
            | ...

if can_view
    td.sub-prop
        if not IN_CONTEST and not request.user.is_superuser
            a(href='{% url "submission_status" submission.id %}')
                i.fa.fa-eye.fa-fw
                span.label view
        if perms.judge.rejudge_submission
            = ' · '
            a(href='javascript:rejudge_submission({{ submission.id }})')
                i.fa.fa-refresh.fa-fw
                span.label rejudge
        if perms.judge.change_submission
            = ' · '
            a(href='{% url "admin:judge_submission_change" submission.id %}')
                i.fa.fa-cog.fa-fw
                span.label admin

td.sub-usage
    if submission.status in 'QUPGCEIEAB'
        .time ---
        .memory ---
    else
        if "TLE" != submission.result
            .time(title='{{ submission.time|default_if_none:0 }}s') #{submission.time|default_if_none:0|floatformat:"2"}s
        else
            .time ---
        .memory= submission.memory_bytes|filesizeformat
