- load list_processor
- load mathtag
if submission.status != 'IE'
    if submission.status != 'CE'
        h3 Execution Results
        br
        if submission.error
            h4 Compilation Warnings
            pre #{submission.error}
            br
        - regroup test_cases by batch as batches
        - var time_limit = submission.problem.time_limit
        each batch in batches
            if batch.grouper
                b Batch ##{batch.grouper}
                |  (#{batch.list|list_getattr:"points"|min_list|floatformat:"0"}/#{batch.list|list_getattr:"total"|max_list|floatformat:"0"} points)
                br
                | <div class="batch-cases">
            table
                each case in batch.list
                    tr(id=case.id).toggle.closed
                        td
                            if case.status != 'AC' and case.output
                                span.icon
                            if batch.grouper
                                b Case ##{forloop.counter}:
                            else
                                b Test case ##{forloop.counter}:
                        td
                            span(class=case.status, title=case.long_status)
                                if case.status == 'SC'
                                    | &mdash;
                                else
                                    = case.status
                            if case.feedback
                                | &nbsp;(#{case.feedback})
                        td
                            if case.status != 'SC'
                                if case.status == 'TLE'
                                    | [&ge;#{time_limit|floatformat:"3"}s,
                                else
                                    | [#{case.time|floatformat:"3"}s,
                                - with memory=case.memory|default_if_none:0
                                    if memory < 1000
                                        | #{memory|floatformat:"-2"}kb]
                                    else
                                        - math memory "$1 / 1024" as megabytes
                                        | #{megabytes|floatformat:"-2"}mb]
                        if not batch.grouper
                            td (#{case.points|floatformat:"0"}/#{case.total|floatformat:"0"})
                    if case.status != 'AC' and case.output
                        tr(id=case.id, style='display:none').toggled
                            td(colspan='4')
                                .case-info
                                    strong Your output (clipped)
                                    .case-output #{case.output|linebreaksbr}
            if batch.grouper
                | </div>
            br
        if submission.is_graded
            br
            if submission.result != "AB"
                b Final score:
                | &nbsp;#{submission.case_points|floatformat:"0"}/#{submission.case_total|floatformat:"0"} (#{submission.points|floatformat:"1"}/#{submission.problem.points|floatformat:"1"} points)
            else
                b Submission aborted!
            br
    else
        h4 Compilation Error
        pre #{submission.error}

else
    h3(style='color:red;font-weight:bold') 
        if request.user == submission.user.user
            | An internal error occurred while grading, and the DMOJ administrators have been notified.
            br
            | In the meantime, try resubmitting in a few seconds.
        else
            | An internal error occurred while grading.
