- load list_processor
- load filesize
- load counter
- load i18n
- load strings

if IN_CONTEST and submission.contest_or_none and CONTEST.id == submission.contest_or_none.participation_id
    - var prefix_length = submission.contest_or_none.problem.output_prefix_override
else
    - var prefix_length = None

if submission.status != 'IE'
    if submission.status == 'QU'
        h4 {% trans "We are waiting for a suitable judge to process your submission..." %}
    elif submission.status == 'P'
        h4 {% trans "Your submission is being processed..." %}
    elif submission.status == 'CE'
        h4 {% trans "Compilation Error" %}
        pre #{submission.error|safe}
    else
        h3 {% trans "Execution Results" %}
        br
        if submission.error
            h4 {% trans "Compilation Warnings" %}
            pre #{submission.error|safe}
            br
        - regroup test_cases by batch as batches
        - get_counter test_case_id
        each batch in batches
            if batch.grouper
                b {% trans "Batch " %}##{test_case_id}
                = ' '
                - blocktrans with points=batch.list|list_getattr:"points"|min_list|floatformat:"0" total=batch.list|list_getattr:"total"|max_list|floatformat:"0"
                    | ({{ points }}/{{ total }} points)
                br
                | <div class="batch-cases">
            table
                each case in batch.list
                    tr(id=case.id).case-row.toggle.closed
                        td
                            if case.status != 'AC' and case.output
                                span.fa.fa-chevron-right.fa-fw
                            if batch.grouper
                                b {% trans "Case" %} ##{forloop.counter}:
                            else
                                if not case.total
                                    b {% trans "Pretest" %} ##{test_case_id}:
                                else
                                    b {% trans "Test case" %} ##{test_case_id}:
                        td
                            span(class='case-{{ case.status }}', title=case.long_status)
                                if case.status == 'SC'
                                    | &mdash;
                                else
                                    = case.status
                            if case.feedback
                                | &nbsp;(#{case.feedback})
                        td
                            if case.status != 'SC'
                                if case.status == 'TLE'
                                    | [&gt;
                                    span #{time_limit|floatformat:"3"}s,
                                else
                                    | [
                                    span #{case.time|floatformat:"3"}s,
                        td
                            if case.status != 'SC'
                                | #{case.memory|kbdetailformat}]
                        if not batch.grouper
                            td (#{case.points|floatformat:"0"}/#{case.total|floatformat:"0"})
                    if case.status != 'AC' and case.output
                        tr(id=case.id, style='display:none').toggled
                            td(colspan='5'): .case-info
                                strong {% trans "Your output (clipped)" %}
                                if prefix_length is None
                                    .case-output #{case.output|linebreaksbr}
                                else
                                    .case-output #{case.output|cutoff:prefix_length|linebreaksbr}
            if batch.grouper
                | </div>
            br
        if submission.is_graded
            br
            if submission.result != "AB"
                b {% trans "Final score:" %}
                |  #{submission.case_points|floatformat:"0"}/#{submission.case_total|floatformat:"0"}
                if IN_CONTEST and submission.contest_or_none
                    - with contest=submission.contest_or_none
                        - blocktrans with points=contest.points|floatformat:"1" total=contest.problem.points
                            | ({{ points }}/{{ total }} points)
                else
                    - blocktrans with points=submission.points|floatformat:"1" total=submission.problem.points|floatformat:"-1"
                        | ({{ points }}/{{ total }} points)
            else
                b {% trans "Submission aborted!" %}
            br
else
    h3(style='color:red;font-weight:bold') 
        if request.user == submission.user.user
            - blocktrans
                | An internal error occurred while grading, and the {{ SITE_NAME }} administrators have been notified.
                br
                | In the meantime, try resubmitting in a few seconds.
        else
            | {% trans "An internal error occurred while grading." %}
