- load i18n

.page-title: .tabs
    h2 #{content_title}
    span.spacer
    ul
        li.tab(class=('active' if tab == 'all_submissions_list' else ''))
            a(href=all_submissions_link) #[i.tab-icon.fa.fa-list] {% trans "All" %}
        if my_submissions_link or tab == 'my_submissions_tab'
            li.tab(class=('active' if tab == 'my_submissions_tab' else ''))
                a(href=my_submissions_link) #[i.tab-icon.fa.fa-user] {% trans "Mine" %}
        if best_submissions_link
            li.tab(class=('active' if tab == 'best_submissions_list' else ''))
                a(href=best_submissions_link) #[i.tab-icon.fa.fa-bar-chart] {% trans "Best" %}
        if tab == 'user_submissions_tab'
            li.tab.active: a #[i.tab-icon.fa.fa-user]
                - blocktrans with username=tab_username
                    | {{ username }}'s
        if perms.judge.change_submission
            li.tab: a(href='{% url "admin:judge_submission_changelist" %}') #[i.tab-icon.fa.fa-edit] {% trans "Admin" %}