extends base

block media
    style.
        th.sun, th.mon, th.tue, th.wed, th.thu, th.fri, th.sat {
            font-size: 0.95em;
            border-right: 1px solid #aaa;
            background: #f2f2f2;
        }

        th.sun {
            border-left: 1px solid #aaa;
        }

        td .num {
            font-size: 1.1em;
            font-weight: bold;
            display: block;
            border-bottom: 1px dashed #ccc;
            padding-right: 0.2em;
            margin-bottom: 0.4em;
        }

        td ul li a {
            text-decoration: none;
            color: #222;
        }

        td:hover ul li a {
            font-weight: normal;
        }

        td ul li a:hover {
            text-decoration: underline;
        }

        td ul {
            text-decoration: none;
            list-style-type: none;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        td ul li {
            background-image: url('http://dev.ivybits.tk/images/bullet_diamond.png');
            background-repeat: no-repeat;
            background-position: 1px 1px;
            padding-left: 17px;
            margin-bottom: 0.2em;
        }

        td {
            height: 110px;
            width: 161px;
            color: #000;
            vertical-align: top;
            text-align: right;
            font-size: 0.75em;
        }

        td {
            border-right: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            transition-duration: 0.2s;
        }

        td:hover {
            background: rgba(0, 0, 255, 0.3);
            color: white;
        }

        td:hover .num {
            font-weight: bold;
        }

        tr td:first-child {
            border-left: 1px solid #aaa;
        }

        th {
            border-bottom: 1px solid #aaa;
        }

        .noday {
            background: #f1f1f1;
        }

        .today {
            background: rgba(255, 255, 100, 0.5);
        }

block title
    | Contests in #{month|date:"F Y"}

block title_row
    div(style='display: flex')
        h2 Contests in #{month|date:"F Y"}
        div(style='flex: 1')
        div(style='font-size: 1.6em; margin-top: 0.3em')
            a(href='{% url "contest_calendar" prev_month.year prev_month.month %}') &laquo; Prev
            = ' '
            a(href='{% url "contest_calendar" next_month.year next_month.month %}') Next &raquo;

block body
    table
        tr
            th Sunday
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
            th Saturday
        each week in calendar
            tr
                each day in week
                    td(class='{{ day.weekday }}{% if day.is_today %} today{% endif %}{% if day.is_pad%} noday{% endif %}')
                        span.num= day.date.day
                        ul
                            each contest in day.starts
                                li.start
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
                            each contest in day.oneday
                                li.oneday
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
                            each contest in day.ends
                                li.end
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
