extends base
- load i18n


block title
    - blocktrans with month=month|date:_("F Y")
        | Contests in {{ month }}

block title_row
    div(style='display: flex')
        h2
            - blocktrans with month=month|date:_("F Y")
                | Contests in {{ month }}
        div(style='flex: 1')
        div(style='font-size: 1.6em; margin-top: 0.3em')
            a(href='{% url "contest_calendar" prev_month.year prev_month.month %}') &laquo; {% trans "Prev" %}
            = ' '
            a(href='{% url "contest_calendar" next_month.year next_month.month %}') {% trans "Next" %} &raquo;

block body
    table#contest-calendar
        tr
            th {% trans "Sunday" %}
            th {% trans "Monday" %}
            th {% trans "Tuesday" %}
            th {% trans "Wednesday" %}
            th {% trans "Thursday" %}
            th {% trans "Friday" %}
            th {% trans "Saturday" %}
        each week in calendar
            tr
                each day in week
                    td(class='{{ day.weekday }}{% if day.is_today %} today{% endif %}{% if day.is_pad %} noday{% endif %}')
                        span.num= day.date.day
                        ul.fa-ul
                            each contest in day.starts
                                li.start
                                    i.fa.fa-li.fa-lg.fa-step-forward
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
                            each contest in day.oneday
                                li.oneday
                                    i.fa.fa-li.fa-lg.fa-play
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
                            each contest in day.ends
                                li.end
                                    i.fa.fa-li.fa-lg.fa-step-backward
                                    a(href='{% url "contest_view" contest.key %}')= contest.name
