extends common-content

- load absolute_links
- load staticfiles
- load markdown
- load cache
- load timedelta
- load social_share
- load tz
- load i18n
- load reference

block title_ruler

block title_row
    - var tab = 'detail'
    - var title = contest.name
    include contest/contest-tabs

block content_js_media
    script(type='text/javascript').
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });

    include contest/media-js
    include comments/media-js

block content_media
    include contest/media-css
    include comments/media-css

block body
    #banner
        a.date(href='https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlencode:"" }}&amp;iso={{ contest.start_time|utc|date:"Y-m-d\TH:i:s" }}')
            if participating and participation.virtual and not participation.ended
                if participation.spectate
                    - blocktrans with countdown=contest.time_before_end|as_countdown
                        | Spectating, contest ends in {{ countdown }}.
                elif participation.end_time
                    - blocktrans with countdown=participation.time_remaining|as_countdown
                        | Participating virtually, {{ countdown }} remaining.
                else
                    | {% trans "Participating virtually." %}
            else
                if contest.start_time > now
                    - blocktrans with countdown=contest.time_before_start|as_countdown
                        | Starting in {{ countdown }}.
                elif contest.end_time < now
                    | {% trans "Contest is over." %}
                else
                    if participating
                        if participation.ended
                            - blocktrans with countdown=contest.time_before_end|as_countdown
                                | Your time is up! Contest ends in {{ countdown }}.
                        else
                            - blocktrans with countdown=participation.time_remaining|as_countdown
                                | You have {{ countdown }} remaining.
                    else
                        - blocktrans with countdown=contest.time_before_end|as_countdown
                            | Contest ends in {{ countdown }}.

        #time
            if contest.time_limit
                - blocktrans with start_time=contest.start_time|date:_("F j, Y, G:i T") end_time=contest.end_time|date:_("F j, Y, G:i T") time_limit=contest.time_limit|timedelta:"localized-no-seconds"
                    | #[b {{ time_limit }}] window between #[b {{ start_time }}] and #[b {{ end_time }}]
            else
                - blocktrans with length=contest.contest_window_length|timedelta:"localized-no-seconds" start_time=contest.start_time|date:_("F j, Y, G:i T")
                    | #[b {{ length }}] long starting on #[b {{ start_time }}]

    .content-description
        - cache 3600 contest_html contest.id MATH_ENGINE
            | #{contest.description|with_math:MATH_ENGINE|markdown:"contest"|reference}

    hr
    span.social
        - post_to_gplus post "<i class=\"fa fa-google-plus-square\"></i>"
        - post_to_facebook post "<i class=\"fa fa-facebook-official\"></i>"
        - post_to_twitter "{{ SITE_NAME }}:" post "<i class=\"fa fa-twitter\"></i>"
    include comments/list


block description_end

block bodyend
    | #{block.super}
    include comments/math
