extends common-content

- load staticfiles
- load markdown_trois_tags
- load cache
- load timedelta
- load smart_math
- load latex_math
- load social_share
- load camo_proxy
- load tz
- load i18n

block content_js_media
    script(type='text/javascript').
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    if has_select2
        script(type='text/javascript', src='{{ SELECT2_JS_URL }}')
        script(type='text/javascript').
            $(function () {
                var url = '{% url "contest_participation" contest.key "__username__" %}';
                var placeholder = $('#search').replaceWith($('<select/>').attr({
                    id: 'search'
                })).attr('placeholder');

                $('#search').select2({
                    placeholder: placeholder,
                    ajax: {
                        url: '{% url "contest_user_search_select2_ajax" contest.key %}'
                    },
                    minimumInputLength: 1,
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    templateResult: function (data, container) {
                        return '<span class="' + data.display_rank + '">' + data.text + "</span>";
                    }
                }).on('change', function () {
                    window.location.href = url.replace('__username__', $(this).val());
                });

                $('.leaving-forever').click(function () {
                    return confirm('{% trans "Are you sure you want to leave?" %}\n' +
                            '{% trans "You cannot come back to a virtual participation. You will have to start a new one." %}');
                });
            });
    include comments/js_media

block content_media
    if has_select2
        link(href='{{ SELECT2_CSS_URL }}', type='text/css', media='screen', rel='stylesheet')
        style.
            .select2-selection__arrow { display: none; }
            .select2-selection__rendered { cursor: text; overflow: initial !important }
            .select2-results__option--highlighted { background-color: #DEDEDE !important; }
            #search, #search + .select2 { margin-top: 0.5em; }
    include comments/media

block info_float
    if contest.can_join or participating
        if contest.ended
            // They're in the contest because they're participating virtually
            if in_contest
                a.unselectable.button.full.leaving-forever(href='{% url "contest_leave" contest.key %}')
                    | {% trans "Leave contest" %}
            else
                // They can virtual-join the contest
                a.unselectable.button.full(href='{% url "contest_join" contest.key %}')
                    | {% trans "Virtual join" %}
        else
            // Allow people with ended participations to continue spectating
            if in_contest
                a.unselectable.button.full(href='{% url "contest_leave" contest.key %}')
                    if participating and participation.ended or request.user.profile in contest.organizers.all
                        | {% trans "Stop spectating" %}
                    else
                        | {% trans "Leave contest" %}
            else
                a.unselectable.button.full(href='{% url "contest_join" contest.key %}')
                    if participating and participation.ended or request.user.profile in contest.organizers.all
                        | {% trans "Spectate contest" %}
                    else
                        | {% trans "Join contest" %}
        hr

    if contest.start_time <= now or perms.judge.see_private_contest
        a(href='{% url "contest_ranking" contest.key %}') {% trans "View rankings" %}
        br
        a(href='{% url "contest_participation_own" contest.key %}"') {% trans "My participation" %}
        if has_select2
            br
            input#search(type='text', placeholder='{% trans "View user participation" %}')
        hr

    if perms.judge.change_contest
        a(href='{% url "admin:judge_contest_change" contest.id %}') {% trans "Edit contest" %}
        hr
    br

block description
    #banner
        a.date(href='http://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name }}&amp;iso={{contest.start_time|utc|date:"Y-m-d\TH:i:s"}}')
            if participating and participation.virtual
                if participation.spectate
                    | {% trans "Spectating, contest ends in " %}
                    - include "contest/time_remaining_fragment.jade" with countdown=contest.time_before_end
                elif participation.ended
                    | {% trans "Virtual participation ended." %}
                elif participation.end_time
                    | {% trans "Participating virtually, " %}
                    - include "contest/time_remaining_fragment.jade" with countdown=participation.time_remaining
                    | {% trans " remaining." %}
                else
                    | {% trans "Participating virtually." %}
            else
                if contest.start_time > now
                    | {% trans "Starting in " %}
                    - include "contest/time_remaining_fragment.jade" with countdown=contest.time_before_start
                elif contest.end_time < now
                    | {% trans "Contest is over." %}
                else
                    if participating
                        if participation.ended
                            | {% trans "Your time is up! Contest ends in " %}
                            - include "contest/time_remaining_fragment.jade" with countdown=contest.time_before_end
                        else
                            | {% trans "You have " %}
                            - include "contest/time_remaining_fragment.jade" with countdown=participation.time_remaining
                            | {% trans " remaining." %}
                    else
                        | {% trans "Contest ends in " %}
                        - include "contest/time_remaining_fragment.jade" with countdown=contest.time_before_end

        #time
            if contest.time_limit
                - blocktrans with start_time=contest.start_time|date:_("F j, Y, G:i T") end_time=contest.end_time|date:_("F j, Y, G:i T") time_limit=contest.time_limit|timedelta:"localized-no-seconds"
                    | #[b {{ time_limit }}] window between #[b {{ start_time }}] and #[b {{ end_time }}]
            else
                - blocktrans with length=contest.contest_window_length|timedelta:"localized-no-seconds" start_time=contest.start_time|date:_("F j, Y, G:i T")
                    | #[b {{ length }}] long starting on #[b {{ start_time }}]

    - cache 3600 contest_html contest.id MATH_ENGINE
        | #{contest.description|markdown:"contest"|latex_math|smart_math:MATH_ENGINE|proxy_images}

block comments
    span.social
       - post_to_gplus post "<i class=\"fa fa-google-plus-square\"></i>"
       - post_to_facebook post "<i class=\"fa fa-facebook-official\"></i>"
       - post_to_twitter "{{ SITE_NAME }}:" post "<i class=\"fa fa-twitter\"></i>"
    .comment-area
        h2 {% trans "Comments" %}
        include comments/list

block bodyend
    | #{block.super}
    include comments/math
