extends common-content
- load staticfiles
- load timedelta
- load tz
- load i18n
- load markdown

block meta
    meta(name='description', content="The {{ SITE_NAME }}'s contest list - past, present, and future.")

block js_media
    script(src='{% static "libs/featherlight/featherlight.min.js" %}', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('.contest-tag').find('a').featherlight();

            $('.join-warning').click(function () {
                return confirm('{% trans "Are you sure you want to join?" %}\n' +
                        '{% trans "Joining a contest for the first time starts your timer, after which it becomes unstoppable." %}');
            });

            // var tooltip_classes = 'tooltipped tooltipped-e';
            //
            // $('.contest-tag').each(function () {
            //     var link = $(this);//
            //     link.mouseenter(function (e) {
            //         link.addClass(tooltip_classes).attr('aria-label', link.attr('data-description'));
            //     }).mouseleave(function (e) {
            //         link.removeClass(tooltip_classes).removeAttr('aria-label');
            //     });
            // });
        });

    style.
        .time-left {
            text-align:left;
            color:#777;
            padding-top: 0.5em;
        }

block title_ruler

block title_row
    - var tab = 'list'
    - var title = 'Contests'
    include contest/contest-list-tabs

block body
    .content-description
        if current_contests
            h4 {% trans "Ongoing Contests" %}
            table.contest-list.table.striped
                thead: tr
                    th(style='width:90%') {% trans "Contest" %}
                    th {% trans "Users" %}
                    if not IN_CONTEST
                        th(style='width:15%')
                tbody: each contest in current_contests
                    tr
                        td: div.contest-block
                            a.contest-list-title(href='{% url "contest_view" contest.key %}')= contest.name
                            span.contest-tags: each tag in contest.tags.all
                                span.contest-tag(style='background-color: {{ tag.color }}')
                                    a(href='{% url "contest_tag" tag.name %}', style='color: {{ tag.text_color }}',
                                    data-featherlight='{% url "contest_tag_ajax" tag.name %}')= tag.name
                            if not contest.is_public
                                i.fa.fa-eye-slash
                            if contest.is_private
                                i.fa.fa-lock
                            if contest.start_time
                                br
                                if contest.time_before_end
                                    span.time
                                        - blocktrans with countdown=contest.time_before_end|as_countdown
                                            | Ends in {{ countdown }}.
                                elif contest.free_start and contest.start_time
                                    span.time {% trans "Started at" %} #{contest.start_time|date:_("N j, Y, G:i")}
                                .time.time-left
                                    span(style='text-align:right;color:#777;')
                                    if contest.time_limit
                                        | #{contest.start_time|date:_("M j, Y, G:i")} - #{contest.end_time|date:_("M j, Y, G:i")}
                                    else
                                        | #{contest.start_time|date:_("M j, Y, G:i")}
                                    br
                                    if contest.time_limit
                                        - blocktrans with time_limit=contest.time_limit|timedelta:"localized-no-seconds"
                                            | {{ time_limit }} window
                                    else
                                        - blocktrans with window_length=contest.contest_window_length|timedelta:"localized-no-seconds"
                                            | {{ window_length }} long
                        td: a(href='{% url "contest_ranking" contest.key %}') #{contest.user_count}
                        if not IN_CONTEST
                            td
                                if request.user.profile in contest.organizers.all
                                    a.unselectable.button.full.participate-button(href='{% url "contest_join" contest.key %}')
                                        | {% trans "Spectate" %}
                                else
                                    a.unselectable.button.full.participate-button.join-warning(href='{% url "contest_join" contest.key %}')
                                        | {% trans "Join" %}
            br

        h4 {% trans "Upcoming Contests" %}
        if future_contests
            table.contest-list.table.striped
                thead: tr: th {% trans "Contest" %}
                tbody: each contest in future_contests
                    tr: td: div.contest-block
                        a.contest-list-title(href='{% url "contest_view" contest.key %}')= contest.name
                        span.contest-tags: each tag in contest.tags.all
                            span.contest-tag(style='background-color: {{ tag.color }}')
                                a(href='{% url "contest_tag" tag.name %}', style='color: {{ tag.text_color }}',
                                data-featherlight='{% url "contest_tag_ajax" tag.name %}')= tag.name
                        if not contest.is_public
                            i.fa.fa-eye-slash
                        if contest.is_private
                            i.fa.fa-lock
                        if contest.start_time
                            br
                            if contest.time_before_start
                                span.time
                                    - blocktrans with countdown=contest.time_before_start|as_countdown
                                        | Starting in {{ countdown }}.

                            .time.time-left
                                span(style='text-align:right;color:#777;')
                                if contest.time_limit
                                    | #{contest.start_time|date:_("M j, Y, G:i")} - #{contest.end_time|date:_("M j, Y, G:i")}
                                else
                                    | #{contest.start_time|date:_("M j, Y, G:i")}
                                br
                                if contest.time_limit
                                    - blocktrans with time_limit=contest.time_limit|timedelta:"localized-no-seconds"
                                        | {{ time_limit }} window
                                else
                                    - blocktrans with window_length=contest.contest_window_length|timedelta:"localized-no-seconds"
                                        | {{ window_length }} long
        else
            i {% trans "There are no scheduled contests at this time." %}
            br
        br

        h4 {% trans "Past Contests" %}
        table.contest-list.table.striped
            thead: tr
                th(style='width:90%') {% trans "Contest" %}
                th {% trans "Users" %}
                if not IN_CONTEST
                    th(style='width:15%')
            tbody: each contest in past_contests
                tr
                    td: div.contest-block
                        a.contest-list-title(href='{% url "contest_view" contest.key %}')= contest.name
                        span.contest-tags: each tag in contest.tags.all
                            span.contest-tag(style='background-color: {{ tag.color }}')
                                a(href='{% url "contest_tag" tag.name %}', style='color: {{ tag.text_color }}',
                                  data-featherlight='{% url "contest_tag_ajax" tag.name %}')= tag.name
                        if not contest.is_public
                            i.fa.fa-eye-slash
                        if contest.is_private
                            i.fa.fa-lock
                        div.time-left
                            if contest.time_limit
                                | #{contest.start_time|date:_("M j, Y, G:i")} - #{contest.end_time|date:_("M j, Y, G:i")}
                            else
                                | #{contest.start_time|date:_("M j, Y, G:i")}
                            br
                            if contest.time_limit
                                - blocktrans with time_limit=contest.time_limit|timedelta:"localized-no-seconds"
                                    | {{ time_limit }} window
                            else
                                - blocktrans with window_length=contest.contest_window_length|timedelta:"localized-no-seconds"
                                    | {{ window_length }} long
                    td: a(href='{% url "contest_ranking" contest.key %}') #{contest.user_count}
                    if not IN_CONTEST
                        td: a.unselectable.button.full.participate-button(href='{% url "contest_join" contest.key %}')
                                | {% trans "Virtual join" %}
