extends base
- load staticfiles
- load timedelta
- load tz

block meta
    meta(name='description', content="The DMOJ's contest list - past, present, and future.")

block media
    style
        .contest-list td:nth-child(2) {
            min-width: 9.8em;
        }

        .contest-list td:nth-child(3) {
            min-width: 6em;
        }

        .contest-list tbody tr {
            height: 4em;
        }

        .time {
            color: #555;
        }

        .floating-time {
            position: absolute;
            right: 0;
            bottom: 0
        }
    script(type='text/javascript')
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });

block body
    if current_contests
        br
        h3 Ongoing Contests
        br
        table.contest-list.table.striped
            thead
                tr
                    th(style='width:90%') Name
                    th Time limit
                    th Rankings
                    if not IN_CONTEST
                        th(style='width:15%')
            tbody
                each contest in current_contests
                    tr
                        td
                            div(style='position:relative')
                                a(href='{% url "contest_view" contest.key %}')= contest.name
                                if contest.start_time
                                    br
                                    if contest.time_before_end
                                        span.time Ending in&nbsp;
                                        span.time.time-remaining #{contest.time_before_end|timedelta:"simple"}
                                    elif contest.free_start and contest.start_time
                                        span.time Started at #{contest.start_time|date:"N j, o, G:i"}
                                    .time.floating-time #{contest.end_time|date:"N j, o, G:i"}
                        td #{contest.time_limit}
                        td
                            a(href='{% url "judge.views.contest_ranking" contest.key %}') x#{contest.participation_count}
                        if not IN_CONTEST
                            td
                                a.unselectable.button.full(href='{% url "judge.views.join_contest" contest.key %}', style='display:inline;padding-left:30%;padding-right:30%') Join
        br
        .dashed
        
    br
    h3 Upcoming Contests
    br
    if future_contests
        table.contest-list.table.striped
            thead
                tr
                    th(style='width:90%') Name
                    th Time limit
            tbody
                each contest in future_contests
                    tr
                        td
                            div(style='position:relative')
                                a(href='{% url "contest_view" contest.key %}')= contest.name
                                if contest.start_time
                                    br
                                    if contest.time_before_start
                                        span.time Starting in&nbsp;
                                        span.time.time-remaining #{contest.time_before_start|timedelta:"simple"}
                                    .time.floating-time #{contest.start_time|date:"N j, o, G:i"}
                        td #{contest.time_limit}
    else
        i There are no scheduled contests at this time.



    br
    hr.dashed
    br
    h3 Past Contests
    br
    table.contest-list.table.striped
        thead
            tr
                th(style='width:95%') Name
                th Rankings
        tbody
            each contest in past_contests
                tr
                    td
                        div(style='position:relative')
                            a(href='{% url "contest_view" contest.key %}')= contest.name
                            if contest.start_time
                                .time.floating-time #{contest.start_time|date:"N j, o, G:i"} to #{contest.end_time|date:"N j, o, G:i"}
                            else
                                .time.floating-time #{contest.time_limit}
                    td
                        a(href='{% url "judge.views.contest_ranking" contest.key %}') x#{contest.participation_count}
