extends base
- load staticfiles
- load timedelta
- load tz

block media
    style.
        .contest-list td:nth-child(2) { min-width: 9.8em; }
        .contest-list td:nth-child(3) { min-width:6em; }
        .contest-list tr { height: 4em; }

block body
    br
    h3 Upcoming Contests
    br
    if current_contests
        table.contest-list.table.striped
            thead
                tr
                    th(style='width:85%') Name
                    th Start
                    th Time limit
                    th Rankings
            tbody
                each contest in current_contests
                    tr
                        td
                            a(href='{% url "contest_view" contest.key %}')= contest.name
                        td
                            if contest.start_time
                                | #{contest.start_time|date:"N j, o, G:i"}
                        td #{contest.time_limit}
                        td
                            a(href='{% url "judge.views.contest_ranking" contest.key %}') x#{contest.participation_count}
    else
        i There are no scheduled contests at this time.
    br
    hr.dashed
    br
    h3 Past Contests
    br
    table.contest-list.table.striped
        thead
            tr
                th(style='width:85%') Name
                th Start
                th Time limit
                th Rankings
        tbody
            each contest in past_contests
                tr
                    td
                        a(href='{% url "contest_view" contest.key %}')= contest.name
                    td
                        if contest.start_time
                            | #{contest.start_time|date:"N j, o, G:i"}
                    td #{contest.time_limit}
                    td
                        a(href='{% url "judge.views.contest_ranking" contest.key %}') x#{contest.participation_count}
