extends user/base_users_table

- load timedelta
- load cache

block after_rank_head
    if has_ratings
        th Rating

block before_point_head
    each problem in problems
        th.points.header
            a(href='{% url "contest_ranked_submissions" contest.key problem.problem.code %}')= forloop.counter
                div.point-denominator= problem.points

block before_point
    - cache 86400 conrank_user_prob user.id contest.id
        each problem in user.problems
            if problem
                td(class=problem.state)
                    a(href='{% url "contest_user_submissions" contest.key user.user.username problem.code %}')
                        | #{problem.points|floatformat}
                        .solving-time #{problem.time|timedelta:"noday"}
            else
                td

block after_rank
    if has_ratings
        td= user.rating
