div(style='border:none', id=select_all_name)
    div.original-checkboxes(style='-moz-columns: 15em 5; -webkit-columns: 15em 5; columns: 15em 5')
        | {{ original_widget }}
    if empty
        | Nothing here.
    else
        label(for=select_all_id)
            input.checkall(id=select_all_id, name=select_all_name, checked=all_selected, type='checkbox')
            = ' '
            | Check all

style.
    div.original-checkboxes ul {
        margin: 0 0 0 2em;
        padding: 0;
        list-style-type: none;
    }

    div.original-checkboxes ul li {
        list-style-type: none;
    }

script(type='text/javascript').
    django.jQuery(function($) {
        var box = $('div#' + '{{ select_all_name }}');
        var original = box.find('.original-checkboxes');
        $('.checkall').click(function ()  {
            original.find(':checkbox').prop('checked', this.checked);
        });
    });
