div(style='border:none', id=select_all_name)
    | {{original_widget}}
    if empty
        | Nothing here.
    else
        label(for=select_all_id)
            input.checkall(id=select_all_id, name=select_all_name, checked=all_selected, type='checkbox')
            | &nbsp;Check all
script(type='text/javascript')
    django.jQuery(function($) {
        $('.checkall').click(function ()  {
            $('div#' + '{{ select_all_name }}').find(':checkbox').prop('checked', this.checked);
        });
    });
