extends base

- load i18n

block media
    style.
        #ticket-list .fa-check-circle-o {
            color: #00a900;
        }

        #ticket-list .fa-exclamation-circle {
            color: darkred;
        }

block js_media
    script(type='text/javascript').
        $(function () {
            $('input#own').click(function () {
                ($('<form>').attr('action', window.location.pathname + '?' + $('form#filter-form').serialize())
                        .append($('<input>').attr('type', 'hidden').attr('name', 'csrfmiddlewaretoken')
                                .attr('value', $.cookie('csrftoken')))
                        .attr('method', 'POST').appendTo($('body')).submit());
            });
        });

block body
    form#filter-form(name='form', action='', method='get')
        div#own-box.filter-check
            input#own(type='checkbox', name='own', checked=('checked' if filter_status['own'] else undefined), value='1')
            label(for='own') {% trans "Show my tickets only" %}
    hr

    if page_obj.num_pages > 1
        div(style='margin-bottom:6px; margin-top:3px')
            include list_pages

    table#ticket-list.table
        thead: tr
            th
            th {% trans "ID" %}
            th {% trans "Title" %}
            th {% trans "User" %}
            th {% trans "Assignees" %}
        tbody: each ticket in tickets
            tr(id='ticket-{{ ticket.id }}')
                td
                    if ticket.is_open
                        i.fa.fa-exclamation-circle
                    else
                        i.fa.fa-check-circle-o
                td= ticket.id
                td: a(href='{% url "ticket" ticket.id %}')= ticket.title
                - with user=ticket.user
                    td: a(href='{% url "user_page" user.user.username %}', class=user.display_rank)= user.user.username
                td: each assignee in ticket.assignees.all
                    a(href='{% url "user_page" assignee.user.username %}', class=assignee.display_rank)
                        | #{assignee.user.username}
                    if not forloop.last
                        | ,&#32;

    if page_obj.num_pages > 1
        div(style='margin-top:10px')
            include list_pages
