extends base

- load i18n
- load staticfiles

block media
    style.
        #ticket-list .fa-check-circle-o {
            color: #00a900;
        }

        #ticket-list .fa-exclamation-circle {
            color: darkred;
        }

        @media (min-width: 500px) {
            #container {
                display: flex;
                flex-direction: row-reverse;
            }

            #container > main {
                flex: 1;
            }

            #container > aside {
                flex: 1;
                max-width: 200px;
                margin-left: 1em;
            }

            #container > aside > div {
                position: sticky;
                top: 60px;
            }
        }

    if has_select2
        link(href='{{ SELECT2_CSS_URL }}', type='text/css', media='screen', rel='stylesheet')
        style.
            .select2-selection__arrow { display: none; }
            .select2-selection__rendered { cursor: text; }
            .select2-results__option {  position: relative; }
            .select2-results__option--highlighted { background-color: #DEDEDE !important; }
            li.select2-results__option--highlighted a.user-redirect { display: inline-block; }

            a.user-redirect {
                color: #2980b9;
                vertical-align: middle;
                font-size: 1.2em;
                position: absolute;
                right: 0.8em;
                display: none;
            }

            a.user-redirect:hover { text-shadow: 0 0 2px blue; }

block js_media
    script(type='text/javascript').
        window.filter_user_ids = #{filter_status.user_id};
        window.filter_own_id = #{filter_status.own_id};
        window.filter_assignee_ids = #{filter_status.assignee_id};
    script(type='text/javascript', src='{% static "event.js" %}')
    script(type='text/javascript').
        $(function () {
            $('input#own').click(function () {
                ($('<form>').attr('action', window.location.pathname + '?' + $('form#filter-form').serialize())
                        .append($('<input>').attr('type', 'hidden').attr('name', 'csrfmiddlewaretoken')
                                .attr('value', $.cookie('csrftoken')))
                        .attr('method', 'POST').appendTo($('body')).submit());
            });

            window.load_dynamic_update = function (last_msg) {
                var $tbody = $('#ticket-list').find('tbody');
                var $assignees = $(filter_assignee_ids);

                function new_ticket(ticket) {
                    $.ajax({
                        url: '{% url "ticket_ajax" %}',
                        data: { id: ticket.id },
                        success: function (data) {
                            $tbody.prepend($(data.row));
                        },
                        error: function (data) {
                            console.log('Could not load ticket:');
                            console.log(data.responseText);
                        }
                    });
                }

                return new EventReceiver(
                        "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                        ['tickets'], last_msg, function (message) {
                            console.log(message);
                            if (filter_own_id != null && message.user != filter_own_id &&
                                    !~message.assignee.indexOf(filter_own_id))
                                return;
                            if (filter_user_ids.length && !~filter_user_ids.indexOf(message.user))
                                return;
                            if ($assignees.length && !$assignees.filter(message.assignee).length)
                                return;
                            switch (message.type) {
                                case 'new-ticket': new_ticket(message); break;
                            }
                        }
                );
            }
        });
    if has_select2
        script(type='text/javascript', src='{{ SELECT2_JS_URL }}')
        script(type='text/javascript').
            $(function () {
                var user_select2 = {
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    templateResult: function (data, container) {
                        return $('<span>')
                                .append($('<img>', {
                                    'class': 'user-search-image', src: data.gravatar_url,
                                    width: 24, height: 24
                                }))
                                .append($('<span>', {'class': data.display_rank + ' user-search-name'}).text(data.text));
                    }
                };
                $('#filter-user').select2($.extend({}, user_select2,
                        {ajax: { url: '{% url "ticket_user_select2_ajax" %}' } }));
                $('#filter-assignee').select2($.extend({}, user_select2,
                        {ajax: { url: '{% url "ticket_assignee_select2_ajax" %}' } }));
            });
    if last_msg
        script(type='text/javascript').
            $(function () {
                load_dynamic_update(#{last_msg});
            });

block body
    #container
        aside: div
            div#notification-box
                input#notification(type='checkbox')
                label(for='notification') {% trans "Use desktop notification" %}

            form#filter-form(name='form', action='', method='get')
                div#own-box.filter-check
                    input#own(type='checkbox', name='own', checked=('checked' if filter_status['own'] else undefined), value='1')
                    label(for='own') {% trans "Show my tickets only" %}
                div#user-box.filter-select2
                    label(for='filter-user') {% trans "Filing user" %}
                    select#filter-user(style='width: 100%', multiple, name='user')
                        each username in filter_status.user
                            option(value=username, selected)= username
                div#assignee-box.filter-select2
                    label(for='filter-user') {% trans "Assignee" %}
                    select#filter-assignee(style='width: 100%', multiple, name='assignee')
                        each username in filter_status.assignee
                            option(value=username, selected)= username
                button.submit(type='submit', style='margin-left: auto') {% trans "Go" %}

        main
            if page_obj.num_pages > 1
                div(style='margin-bottom:6px; margin-top:3px')
                    include list_pages

            table#ticket-list.table
                thead: tr
                    th
                    th {% trans "ID" %}
                    th {% trans "Title" %}
                    th {% trans "User" %}
                    th {% trans "Assignees" %}
                tbody: each ticket in tickets
                    include ticket/row

            if page_obj.num_pages > 1
                div(style='margin-top:10px')
                    include list_pages
