extends base

- load i18n

block body
    if page_obj.num_pages > 1
        div(style='margin-bottom:6px; margin-top:3px')
            include list_pages

    table#ticket-list.table
        thead: tr
            th {% trans "ID" %}
            th {% trans "Title" %}
            th {% trans "User" %}
            th {% trans "Assignees" %}
        tbody: each ticket in tickets
            tr(id='ticket-{{ ticket.id }}')
                td= ticket.id
                td: a(href='{% url "ticket" ticket.id %}')= ticket.title
                - with user=ticket.user
                    td: a(href='{% url "user_page" user.user.username %}', class=user.display_rank)= user.user.username
                td: each assignee in ticket.assignees.all
                    a(href='{% url "user_page" assignee.user.username %}', class=assignee.display_rank)
                        | #{assignee.user.username}
                    if not forloop.last
                        | ,&#32;

    if page_obj.num_pages > 1
        div(style='margin-top:10px')
            include list_pages
