tr(id='ticket-{{ ticket.id }}')
    td
        if ticket.is_open
            i.fa.fa-exclamation-circle
        else
            i.fa.fa-check-circle-o
    td= ticket.id
    td: a(href='{% url "ticket" ticket.id %}')= ticket.title
    - with user=ticket.user
        td: a(href='{% url "user_page" user.user.username %}', class=user.display_rank)= user.user.username
    td: each assignee in ticket.assignees.all
        a(href='{% url "user_page" assignee.user.username %}', class=assignee.display_rank)
            | #{assignee.user.username}
        if not forloop.last
            | ,&#32;
