extends base

- load gravatar
- load markdown_trois_tags
- load reference
- load smart_math
- load camo_proxy
- load i18n

block media
    | #{form.media.css}
    style.
        #content > h2:first-child small {
            color: #999;
            font-size: 0.9em;
            margin-left: 0.3em;
        }

        #content > h2:first-child .status {
            display: inline;
        }

        #content > h2:first-child .fa-check-circle-o {
            color: #00a900;
        }

        #content > h2:first-child .fa-exclamation-circle {
            color: darkred;
        }

        .container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row-reverse;
            max-width: 1000px;
        }

        .ticket-sidebar {
            flex: 1;
            padding: 10px 0 0 10px;
            max-width: 200px;
        }

        .ticket-info {
            position: sticky;
            top: 60px;
        }

        .ticket-messages {
            flex: 1;
        }

        .info-box {
            margin: 5px 0 10px;
            border: 1px #999 solid;
            border-radius: 5px;
        }

        .info-title {
            padding: 2px 5px;
            font-weight: 600;
            border-bottom: 1px #999 solid;
            background: #eee;
            border-radius: 5px 5px 0 0;
        }

        .info-data {
            padding: 2px 5px;
        }

        .info-empty {
            color: #999;
            font-style: italic;
        }

        .close-ticket {
            display: block;
            width: 100%;
            background: linear-gradient(to bottom, #4bad00 0%, #278811 100%);
            border-color: #24710e;
            font-weight: 600;
        }

        .close-ticket:hover {
            background: #24710e;
        }

        .open-ticket {
            display: block;
            width: 100%;
            background: linear-gradient(to bottom, #ff130f, #b03d17);
            border-color: #853011;
            font-weight: 600;
        }

        .open-ticket:hover {
            background: #853011;
        }

        .message {
            display: flex;
            margin-top: -40px;
            padding-top: 55px;
        }

        .message .info {
            width: 130px;
        }

        .message .username {
            text-align: center;
        }

        .message .gravatar {
            width: 80px;
            display: block;
            margin: 0 auto;
        }

        .message .message-date, .message .message-time {
            display: inline-block;
        }

        .message .detail {
            border: 1px #999 solid;
            border-radius: 5px;
            flex: 1;
        }

        .message .header {
            background: #eee;
            color: #777;
            border-bottom: 1px solid #999;
            border-radius: 5px 5px 0 0;
            padding: 2px 7px;
            text-align: right;
        }

        .message .content {
            padding: 7px;
        }

        .message .content :first-child {
            margin-top: 0;
        }

        .message .content :last-child {
            margin-bottom: 0;
        }

        .new-message .detail {
            padding: 8px 10px;
        }

        .new-message .submit {
            margin: 10px 0 0 auto;
        }

block js_media
    | #{form.media.js}

block content_title
    .status
        if ticket.is_open
            i.fa.fa-exclamation-circle
        else
            i.fa.fa-check-circle-o
    | #{ticket.title}
    small ##{ticket.id}

block body
    .container
        aside.ticket-sidebar: .ticket-info
            .info-box
                .info-title {% trans "Associated object" %}
                .info-data: a(href=ticket.linked_item.get_absolute_url())= ticket.linked_item
            .info-box
                .info-title {% trans "Assignees" %}
                .info-data
                    if assignees
                        each assignee in assignees
                            a(href='{% url "user_page" assignee.user.username %}', class=assignee.display_rank)
                                | #{assignee.user.username}
                            if not forloop.last
                                | ,&#32;
                    else
                        .info-empty {% trans "No one is assigned." %}
            if ticket.is_open
                button.close-ticket {% trans "Close ticket" %}
            else
                button.open-ticket {% trans "Reopen ticket" %}
            if perms.judge.change_ticket or request.user.profile in assignees
                .info-box
                    .info-title {% trans "Assignee notes" %}
                    .info-data
                        if ticket.notes
                            #{ticket.notes|linebreaks}
                        else
                            .info-empty {% trans "Nothing here." %}

        .ticket-messages
            main.messages: each message in messages
                section.message(id='message-{{ message.id }}')
                    .info
                        a.user(href='{% url "user_page" message.user.user.username %}')
                            img.gravatar(src='{% gravatar_url message.user.user.email 135 message.user.mute %}')
                            .username(class=message.user.display_rank) #{message.user.user.username}
                    .detail
                        .header
                            .relative-time
                            .message-date #{message.time|date:"DATE_FORMAT"}
                            .message-time #{message.time|time:"TIME_FORMAT"}
                        .content #{message.body|markdown:"ticket"|reference|smart_math:MATH_ENGINE|proxy_images}
            hr
            section.message.new-message
                .info
                    a.user(href='{% url "user_page" %}')
                        - with profile=request.user.profile
                            img.gravatar(src='{% gravatar_url request.user.email 135 profile.mute %}')
                            .username(class=profile.display_rank) #{request.user.username}
                    .message-date #{message.time | date:"DATE_FORMAT"}
                    .message-time #{message.time | time:"TIME_FORMAT"}
                .detail: form(action='', method='post')
                    - csrf_token
                    .form-errors
                        | {{ form.non_field_errors }}
                        | {{ form.body.errors }}
                    .body-block #{form.body}
                    button.submit(type='submit') {% trans "Post" %}
