extends base

- load gravatar
- load markdown_trois_tags
- load reference
- load smart_math
- load camo_proxy
- load i18n

block media
    style.
        .container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .message {
            display: flex;
        }

        .message .username {
            text-align: center;
        }

        .message .gravatar {
            width: 80px;
            display: block;
            margin: 0 auto;
        }

        .message .info {
            margin-right: 10px;
        }

        .message .message-date, .message .message-time {
            text-align: center;
        }

        .message .content {
            border: 1px #999 solid;
            border-radius: 5px;
            padding: 7px;
            flex: 1;
        }

        .message .content :first-child {
            margin-top: 0;
        }

        .message .content :last-child {
            margin-bottom: 0;
        }

        .ticket-info {
            margin-bottom: 1em;
        }

block body
    .container
        .ticket-info
            div #[b {% trans "Associated object:" %} ]
                a(href=ticket.linked_item.get_absolute_url)= ticket.linked_item
        main.messages: each message in messages
            section.message
                .info
                    a.user(href='{% url "user_page" message.user.user.username %}')
                        img.gravatar(src='{% gravatar_url message.user.user.email 135 message.user.mute %}')
                        .username(class=message.user.display_rank) #{message.user.user.username}
                    .message-date #{message.time|date:"DATE_FORMAT"}
                    .message-time #{message.time|time:"TIME_FORMAT"}
                .content #{message.body|markdown:"ticket"|reference|smart_math:MATH_ENGINE|proxy_images}
        hr
        section.message.new-message
            .info
                a.user(href='{% url "user_page" %}')
                    - with profile=request.user.profile
                        img.gravatar(src='{% gravatar_url request.user.email 135 profile.mute %}')
                        .username(class=profile.display_rank) #{request.user.username}
                .message-date #{message.time | date:"DATE_FORMAT"}
                .message-time #{message.time | time:"TIME_FORMAT"}
            .content: form(action='', method='post')
                - csrf_token
                .form-errors
                    | {{ form.non_field_errors }}
                    | {{ form.body.errors }}
                .body-block #{form.body}
                button.submit(type='submit') {% trans "Post" %}
