extends base

- load gravatar
- load markdown_trois_tags
- load reference
- load smart_math
- load camo_proxy
- load i18n

block media
    | #{form.media.css}
    style.
        #content > h2:first-child small {
            color: #999;
            font-size: 0.9em;
            margin-left: 0.3em;
        }

        .container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .message {
            display: flex;
            margin-top: -40px;
            padding-top: 50px;
        }

        .message .info {
            width: 130px;
        }

        .message .username {
            text-align: center;
        }

        .message .gravatar {
            width: 80px;
            display: block;
            margin: 0 auto;
        }

        .message .message-date, .message .message-time {
            display: inline-block;
        }

        .message .detail {
            border: 1px #999 solid;
            border-radius: 5px;
            flex: 1;
        }

        .message .header {
            background: #f8f8f8;
            border-radius: 5px 5px 0 0;
            padding: 2px 7px;
            text-align: right;
        }

        .message .content {
            padding: 7px;
        }

        .message .content :first-child {
            margin-top: 0;
        }

        .message .content :last-child {
            margin-bottom: 0;
        }

        .ticket-info {
            margin-bottom: 1em;
        }

        .new-message .detail {
            padding: 8px 10px;
        }

        .new-message .submit {
            margin: 10px 0 0 auto;
        }

block js_media
    | #{form.media.js}

block content_title
    | #{ticket.title}
    small ##{ticket.id}

block body
    .container
        .ticket-info
            div #[b {% trans "Associated object:" %} ]
                a(href=ticket.linked_item.get_absolute_url)= ticket.linked_item
            div #[b {% trans "Assignees:" %} ]
                each assignee in assignees
                    a(href='{% url "user_page" assignee.user.username %}', class=assignee.display_rank)
                        | #{assignee.user.username}
                    if not forloop.last
                        | ,&#32;

        main.messages: each message in messages
            section.message(id='message-{{ message.id }}')
                .info
                    a.user(href='{% url "user_page" message.user.user.username %}')
                        img.gravatar(src='{% gravatar_url message.user.user.email 135 message.user.mute %}')
                        .username(class=message.user.display_rank) #{message.user.user.username}
                .detail
                    .header
                        .relative-time
                        .message-date #{message.time|date:"DATE_FORMAT"}
                        .message-time #{message.time|time:"TIME_FORMAT"}
                    .content #{message.body|markdown:"ticket"|reference|smart_math:MATH_ENGINE|proxy_images}
        hr
        section.message.new-message
            .info
                a.user(href='{% url "user_page" %}')
                    - with profile=request.user.profile
                        img.gravatar(src='{% gravatar_url request.user.email 135 profile.mute %}')
                        .username(class=profile.display_rank) #{request.user.username}
                .message-date #{message.time | date:"DATE_FORMAT"}
                .message-time #{message.time | time:"TIME_FORMAT"}
            .detail: form(action='', method='post')
                - csrf_token
                .form-errors
                    | {{ form.non_field_errors }}
                    | {{ form.body.errors }}
                .body-block #{form.body}
                button.submit(type='submit') {% trans "Post" %}
