extends base
- load staticfiles
- load cache

block js_media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function() {
            $.tablesorter.addParser({
                id: 'solvedsort',
                is: function(s) {
                    return false;
                },
                format: function(s, table, cell, cellIndex) {
                    return $(cell).attr('solved');
                },
                type: 'numeric'
            });

            $('#problem-table').tablesorter({
                headers: {
                    0: {
                        sorter: 'solvedsort'
                    }
                },
                textExtraction: function(node) {
                    node = $(node);
                    var text = node.text().replace(/^\s+|\s+$/g, '');
                    return (node.hasClass('p') ? text.replace(/p$/, '') : text);
                }
            });
        });

block body
    br
    block before_table
        if not IN_CONTEST
            form#filter-form(name='form', action='', method='get')
                if has_search
                    input(type='text', name='search', id='search', value=search_query, placeholder='Search problems...')
                a.button(onclick="form.submit()") Go
                a.button(href='{% url "problem_random" %}') Random
                if request.user.is_authenticated
                    input(onclick="form.submit()" type='checkbox', name='hide_solved', id='hide_solved', checked=('checked' if hide_solved else undefined), value='1')
                    label(for='hide_solved') Hide solved problems
                input(onclick="form.submit()" type='checkbox', name='show_types', id='show_types', checked=('checked' if show_types else undefined), value='1')
                label(for='show_types') Show problem tags
                label(for='category') Category
                select#category(name='category', onclick='form.submit()')
                    if category
                        option(selected) All
                    else
                        option All
                    option(disabled) ---
                    each group in categories
                        if group.id == category
                            option(value=group.id, selected)= group.full_name
                        else
                            option(value=group.id)= group.full_name

    table#problem-table.table.striped
        thead
            tr
                if request.user.is_authenticated
                    th.solved
                        i.fa.fa-check
                th.problem Problem
                th.category Category
                th.code Code
                if show_types
                    th Types
                th.points Points
                th.users Users
        tbody
            each problem in problems
                tr
                    if request.user.is_authenticated
                        if problem.id in completed_problem_ids
                            td(solved='1')
                                i.fa.fa-check-circle(style='color:#44AD41')
                        else
                            td(solved='0')
                                i.fa.fa-minus-circle(style='color:#DE2121')
                    td.problem
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
                    td.category= problem.group.full_name
                    td.code= problem.code
                    if show_types
                        td.types #{problem.types_list|join:", "}
                    td.p #{problem.points|floatformat}
                        if problem.partial
                            | p
                    td.users
                        a(href='{% url "ranked_submissions" problem.code %}')= problem.number_of_users
