extends base
- load staticfiles
- load cache

block meta
    meta(name='description', content="The DMOJ's large archive of problems - CCC, COCI, IOI and more.")

block media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#problem-table").tablesorter({
                sortList: [
                    [3, 0]
                ],
                textExtraction: function (node) {
                    node = $(node);
                    var text = node.text().replace(/^\s+|\s+$/g, '');
                    return (node.hasClass('p') ? text.replace(/p$/, '') : text);
                }
            });
        });
    style
        #problem-table .problem {
            width: 100%
        }

        #problem-table td:nth-child(3),
        td:nth-child(4),
        td:nth-child(6),
        td:nth-child(7) {
            text-align: left;
            padding: 0 1em 0 1em;
        }

        #problem-table td:nth-child(2) {
            text-align: left;
            padding-left: 1em;
        }

        #problem-table .code, .points, .users {
            white-space: nowrap
        }

        #problem-table tr:hover {
            background: #EAEAEA;
        }

        #problem-table tr:not(hover) {
        }

        #filter-form {
            vertical-align: top;
            margin-bottom: 0.5em;
        }

block body
    br
    block before_table
        if not IN_CONTEST and request.user.is_authenticated
            form#filter-form(name='form', action='', method='get')
                if has_search
                    label(for='search') Search:
                    input(type='text', name='search', id='search', value=search_query)
                input(type='checkbox', name='hide_solved', id='hide_solved', checked=('checked' if hide_solved else undefined), value='1')
                label(for='hide_solved') Hide solved problems
                input(type='checkbox' name='show_types', id='show_types', checked=('checked' if show_types else undefined), value='0')
                label(for='show_types') Show problem tags
                input(type='submit', value='Filter', style='display: inline; padding: 0px 5px 0px 5px')
    table#problem-table.table.striped
        thead
            tr
                th.solved
                th.problem Problem
                th.category Category
                th.code Code
                if show_types
                    th Types
                th.points Points
                th.users Users
        tbody
            each problem in problems
                tr
                    td
                        if problem.id in completed_problem_ids
                            img(src='{% static "admin/img/icon-yes.gif" %}')
                        else
                            img(src='{% static "admin/img/icon-no.gif" %}')
                    td
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
                    td= problem.group.full_name
                    td= problem.code
                    if show_types
                        td #{problem.types_list|join:", "}
                    td.p #{problem.points|floatformat}
                        if problem.partial
                            | p
                    td
                        a(href='{% url "ranked_submissions" problem.code %}')= problem.number_of_users
