- load markdown_trois_tags
- load smart_math
- load latex_math
- load filesize
- load i18n

doctype 5

html
    head
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='pygment-github.css', type='text/css')
        style.
            html {
                background: white;
            }

            body {
                overflow: hidden;
                page-break-after: always;
                background: white;
            }

            tr {
                page-break-inside: avoid;
            }

            #info-table {
                width: auto;
                background: white;
            }

            #info-table td {
                text-align: left;
            }

            #info-table td.value {
                min-width: 10em;
            }

            #info-table td.key {
                font-weight: bold;
            }
    body
        h2(style='color:#393630; display: inline-block')= problem_name
        hr

        table.table#info-table
            tbody
                tr
                    td.key {% trans "Points:" %}
                    td.value
                        |  #{problem.points|floatformat}
                        if problem.partial
                            | (partial)
                    td.key
                        - blocktrans trimmed count counter=problem.types_list|length
                            | Problem type
                            - plural
                            | Problem types
                    td.value #{problem.types_list|join:", "}
                tr
                    td.key {% trans "Time limit:" %}
                    td.value #{problem.time_limit}s
                    td.key {% trans "Allowed languages" %}
                    td.value
                        if show_languages
                            | #{problem.languages_list|join:", "}
                        else
                            - trans "All" context "languages"
                tr
                    td.key {% trans "Memory limit:" %}
                    td.value #{problem.memory_limit|kbsimpleformat}
                    if authors
                        td.key
                            - blocktrans trimmed count counter=authors|length
                                | Author:
                                - plural
                                | Authors:
                        td.value #{authors|join:", "}
        hr(style='border-bottom: 1px dashed;')

        .content-description.printing
            | #{description|markdown:"problem"|latex_math|smart_math:"tex"}

        include mathjax_load
