- load markdown_trois_tags
- load smart_math
- load filesize
- load i18n

doctype 5

html
    head
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='pygment-github.css', type='text/css')
        style.
            html {
                background: white;
            }

            body {
                overflow: hidden;
                page-break-after: always;
                background: white;
            }

            tr {
                page-break-inside: avoid;
            }

            #info-table {
                width: auto;
                background: white;
            }

            #info-table td {
                text-align: left;
            }

            #info-table td.value {
                min-width: 10em;
            }

            #info-table td.key {
                font-weight: bold;
            }
    body
        h2(style='color:#393630; display: inline-block')= problem.name
        hr

        table.table#info-table
            tbody
                tr
                    td.key {% trans "Points:" %}
                    td.value
                        if contest_problem
                            |  #{contest_problem.points}
                            if contest_problem.partial
                                | {% trans "(partial)" %}
                        else
                            |  #{problem.points|floatformat}
                            if problem.partial
                                | {% trans "(partial)" %}
                    td.key
                        if problem.types_list|length > 1
                            | {% trans "Problem types:" %}
                        else
                            | {% trans "Problem type:" %}
                    td.value #{problem.types_list|join:", "}
                tr
                    td.key {% trans "Time limit:" %}
                    td.value #{problem.time_limit}s
                    td.key {% trans "Allowed languages:" %}
                    td.value
                        if show_languages
                            | #{problem.languages_list|join:", "}
                        else
                            | {% trans "All" %}
                tr
                    td.key {% trans "Memory limit:" %}
                    td.value #{problem.memory_limit|kbsimpleformat}
                    if authors
                        td.key
                            if authors|length > 1
                                | {% trans "Authors:" %}
                            else
                                | {% trans "Author:" %}
                        td.value #{authors|join:", "}
        hr(style='border-bottom: 1px dashed;')

        .content-description.printing
            | #{problem.description | markdown:"problem"|smart_math:"tex"}

        include mathjax_load
