- load i18n

.sidebox
    h3 {% trans "Problem search" %} #[i.fa.fa-search]
    .sidebox-content
        form#filter-form(name='form', action='', method='get')
            div: input#search(type='text', name='search', value=search_query, placeholder='{% trans "Search problems..." %}')
            if has_fts
                div
                    input#full_text(type='checkbox', name='full_text', checked=('checked' if full_text else undefined), value='1')
                    label(for='full_text') {% trans "Full text search" %}
            if request.user.is_authenticated
                div
                    input#hide_solved(type='checkbox', name='hide_solved', checked=('checked' if hide_solved else undefined), value='1')
                    label(for='hide_solved') {% trans "Hide solved problems" %}
            div
                input#show_types(type='checkbox', name='show_types', checked=('checked' if show_types else undefined), value='1')
                label(for='show_types') {% trans "Show problem types" %}
            .filter-form-group
                label(for='category'): i {% trans "Category" %}
                select#category(name='category', onchange='form.submit()')
                    if category
                        option(value='', selected) {% trans "All" %}
                    else
                        option(value='') {% trans "All" %}
                    option(disabled) ---
                    each group in categories
                        if group.id == category
                            option(value=group.id, selected)= group.full_name
                        else
                            option(value=group.id)= group.full_name
            if show_types
                .filter-form-group
                    label(for='type'): i {% trans "Problem types" %}
                    select#types(name='type', multiple)
                        each type in problem_types
                            if type.id in selected_types
                                option(value=type.id, selected)= type.full_name
                            else
                                option(value=type.id)= type.full_name
            if point_values
                div.form-label {% trans "Point range" %}
                #point-slider
            input#point-start(type='hidden', name='point_start', disabled)
            input#point-end(type='hidden', name='point_end', disabled)
            .form-submit-group
                a#go.button(onclick='form.submit()') {% trans "Go" %}
                a#random.button(href='{% url "problem_random" %}?{{ request.META.QUERY_STRING }}') {% trans "Random" %}
