extends base
- load staticfiles
- load media_extract

block js_media
    if perms.judge.test_site
        script(type='text/javascript')
            $(function () {
                var select = $('#id_language');
                var container = select.parent();
                var current = select.find(':selected').attr('value');
                var field = $('<input/>', {
                    id: 'id_language',
                    name: 'language',
                    type: 'hidden',
                    value: current
                }).appendTo(container);
                var info = $('#language-details');

                function update_selected() {
                    $('#language-current').find('.name').text(selected.text());
                    $('#language-current').find('.info').text(selected.attr('data-info'));
                }
                select.remove();
                select = $('#language-select').show();
                select.find('li').mouseenter(function () {
                    info.text($(this).attr('data-info'));
                }).mouseout(function() {
                    info.text(selected.attr('data-info'));
                }).click(function () {
                    selected.removeClass('selected');
                    window.ace_source.getSession().setMode("ace/mode/" + selected.attr('data-ace'));
                    field.attr('value', (selected = $(this).addClass('selected')).attr('data-id'));
                    update_selected();
                });
                var selected = select.find('[data-id=' + current + ']').addClass('selected');
                update_selected(selected);
                info.text(selected.attr('data-info'));
                
                $('#language-current').click(function() {
                    var $current = $(this);
                    $('#language-expand').slideToggle(400, function () {
                        if ($(this).is(':visible'))
                            $current.addClass('expanded');
                        else
                            $current.removeClass('expanded');
                    });
                });
            });
    else
        | <script type='text/javascript'>
        |     var modes = {
        each lang in langs
            |      "#{lang.id}": "#{lang.ace|escapejs}",
        |     };
        | </script>

    script(type='text/javascript')
        $(document).ready(function () {
            $('#id_language').change(function () {
                var lang = $("#id_language").find("option:selected").attr('value');
                window.ace_source.getSession().setMode("ace/mode/" + modes[lang]);
            });

            $('#ace_source').on('ace_load', function (e, editor) {
                var source = $('textarea#id_source');
                if (source.val() == '') {
                    var problem = $('#id_problem').find('option:selected').attr('value');
                    var code = localStorage.getItem('submit:' + problem);
                    if (code) {
                        source.val(code);
                        editor.getSession().setValue(code);
                    }
                }
            });
        });
    | #{form.media|media_type:"js"}

block media
    | #{form.media|media_type:"css"}
    style
      #submit-wrapper {
          margin-top: 0.7em;
      }

      #submit-wrapper #problem-id, #submit-wrapper #editor, #submit-wrapper #language {
          margin-top: 4px;
      }

      #language-select {
          margin: 0;
          background: #fefefe;
          border: 1px solid #2980B9;
          display: none;
      }

      #language-select li {
          list-style: none;
          cursor: pointer;
      }

      #language-select ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          -webkit-columns: 5 0px;
             -moz-columns: 5 0px;
                  columns: 5 0px;
      }

      #language-select li {
          color: #757575;
      }

      #language-details {
          text-align: right;
          color: #757575;
          font-size: 1.2em;
      }

      #language-select li:hover {
          text-decoration: underline;
          color: #252525;
      }

      #language-select li.selected {
          color:black;
          font-weight: bold;
      }

      #language-current { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
      #language-current.expanded { border-bottom: 1px solid #2980B9 }

      #language-current { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
      #language-current .info:before { content: ' ('}
      #language-current .info:after { content: ')'}
      #language-current .name { font-weight: bold; }
      #language-current .data {
          background-image: -webkit-linear-gradient(center bottom, #EEE 0px, #FFF 50%);
          background-image: linear-gradient(center bottom, #EEE 0px, #FFF 50%);
          color: #444;
          padding: 8px;
          border-radius: 4px 0 0 4px;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1;
      }

      #language-current .language-drop {
          float: right;
          padding: 8px;
          border-left: 1px solid #AAA;
          background: #CCC -webkit-linear-gradient(center bottom, #CCC 0px, #EEE 60%) repeat scroll 0% 0%;
          background: #CCC linear-gradient(center bottom, #CCC 0px, #EEE 60%) repeat scroll 0% 0%;
      }

      #language-expand {
          padding: 8px;
          display: none;
      }
      
      #language-current .language-drop:before { content:"\f078" }
      #language-current.expanded .language-drop:before { content:"\f077" }

block body
    br
    form#problem_submit.form-area(action='', method='post')
        - csrf_token
        | #{form.non_field_errors}
        #submit-wrapper
            #problem-id
                | #{form.problem.errors}
                | #{form.problem}
            #editor
                | #{form.source.errors}
                | #{form.source}
            if not no_judges
                #language
                    | #{form.language.errors}
                    | #{form.language}
                    #language-select
                        #language-current
                            .data
                                span.name
                                span.info
                            .fa.language-drop
                        #language-expand
                            #language-details
                            hr
                            ul
                                each lang in form.fields.language.queryset
                                    li(data-id=lang.id, data-info=lang.info, data-ace=lang.ace)= lang.name
        hr
        if no_judges
            span(style='color: red') No judge is available for this problem.
        else
            input(class="button", style="float:right;", type='submit', value='Submit!')
