extends base
- load staticfiles
- load cache
- load markdown_trois_tags
- load social_share
- load latex_math
- load camo_proxy
- load i18n
- load nofollow

block js_media
    include comments/js_media

block media
    include comments/media

block header
    if perms.judge.change_blogpost
        .title-line-action [#[a(href='{% url "admin:judge_blogpost_change" post.id %}') {% trans "Edit" %}]]

block body
    .post-full
        .time
            - with authors=post.authors.all
                if authors
                    span.post-authors: for author in authors
                        span(class=author.display_rank)
                            a(href='{% url "user_page" author.user.username %}') #{author.user.username}
                        if not forloop.last
                            = ', '
                    = ' '
            span.post-time posted on #{post.publish_on|date:_("N j, Y, G:i")}
        .body
            - cache 86400 post_content post.id
                | #{post.content|markdown:"blog"|latex_math|proxy_images|nofollowexternal}
    hr
    span.social
       - post_to_gplus post "<i class=\"fa fa-google-plus-square\"></i>"
       - post_to_facebook post "<i class=\"fa fa-facebook-official\"></i>"
       - post_to_twitter "{{ SITE_NAME }}:" post "<i class=\"fa fa-twitter\"></i>"
    .comment-area
        h2 {% trans "Comments" %}
        include comments/list

block bodyend
    | #{block.super}
    if REQUIRE_JAX
        include mathjax_load
    include comments/math
