extends base
- load staticfiles
- load cache
- load markdown_trois_tags
- load timedelta
- load lazy_load
- load i18n

block media
    link(rel='alternate', type='application/atom+xml', href='{% url "comment_atom" %}', title='Atom Comment Feed')
    link(rel='alternate', type='application/rss+xml', href='{% url "comment_rss" %}', title='RSS Comment Feed')

block js_media
    script(type='text/javascript').
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });

block body
    block before_posts

    #blog-container
        div.blog-content
            each post in posts
                div(class=('sticky post' if post.sticky else 'post'))
                    h2.title
                        a(href='{% url "blog_post" post.id post.slug %}')= post.title
                    div.time
                        if post.sticky
                            i.fa.fa-star.fa-fw(title='Sticky')
                        | #{post.publish_on|date:"N j, o, G:i"}
                    div.summary
                        - cache 86400 post_summary post.id
                            | #{post.summary|default:post.content|markdown:"blog"|lazy_load}

            if page_obj.num_pages > 1
                div(style='margin-bottom:10px;margin-top:10px')
                    include list_pages
        if current_contests
            div.blog-sidebox
                h3 {% trans "Ongoing contests" %}
                    i.fa.fa-trophy
                each contest in current_contests
                    .contest
                        .name
                            a(href='{% url "contest_view" contest.key %}')= contest.name
                        .time {% trans "Ends in" %}
                            = ' '
                            span.time-remaining #{contest.time_before_end|timedelta:"simple"}
        if future_contests
            div.blog-sidebox
                h3 {% trans "Upcoming contests" %}
                    i.fa.fa-trophy
                each contest in future_contests
                    .contest
                        .name
                            a(href='{% url "contest_view" contest.key %}')= contest.name
<<<<<<< HEAD
                        .time {% trans "Starts in"}
=======
                        .time {% trans "Starts in" %}
>>>>>>> refs/remotes/DMOJ/master
                            = ' '
                            span.time-remaining #{contest.time_before_start|timedelta:"simple"}
        div.blog-sidebox
            h3 {% trans "Comment stream" %}
                i.fa.fa-comments
            ul
                for comment in comments
                    li
                        div(style='font-size:1.1em;font-style:italic')
                            a(href='{{comment.link}}#comment-{{comment.id}}') #{comment.title}
                        span.poster(class=comment.author.display_rank, style='padding-left:0.25em')
                            a(href='{% url "user_page" comment.author.user.username %}') #{comment.author.user.username}
                        | &nbsp;&rarr;&nbsp;
                        a(href='{{comment.link}}') #{comment.page_title}
            div.dashed
            span.rssatom
                a(href='{% url "comment_rss" %}')
                    span
                        i.fa.fa-rss
                    | RSS
                = '/ '
                a(href='{% url "comment_atom" %}') Atom
        div.blog-sidebox
            h3 New problems
                i.fa.fa-puzzle-piece
            ul
                for problem in problems
                    li
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
            div.dashed
            span.rssatom
                a(href='{% url "problem_rss" %}')
                    span
                        i.fa.fa-rss
                    | RSS
                = '/ '
                a(href='{% url "problem_atom" %}') Atom

    block after_posts
