extends base
- load staticfiles
- load cache
- load markdown_trois_tags
- load timedelta
- load latex_math
- load lazy_load
- load camo_proxy
- load i18n
- load nofollow
- load tz
- load reference

block title_row

block title_ruler

block media
    link(rel='alternate', type='application/atom+xml', href='{% url "comment_atom" %}', title='Atom Comment Feed')
    link(rel='alternate', type='application/rss+xml', href='{% url "comment_rss" %}', title='RSS Comment Feed')
    include blog/dashboard_media.jade
    style.
        .sidebox h3 {
            margin: 0 -5px;
            background: #3b3b3b;
            border-radius: 4px 4px 0px 0px;
            color: white;
            padding-top: 2px;
            padding-bottom: 4px;
            padding-left: 7px;
        }

        .sidebox h3 .fa {
            color: white;
            float: right;
            margin: 0.2em 0.4em 0 0;
        }

        .sidebox {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            margin-top: 0.5em;
            padding: 0 5px !important;
        }

        .blog-content.sidebox {
            margin-right: 1em;
        }

        .sidebox-content {
            border: 1px solid #9D9D9D;
            border-top: none;
            margin: 0 -5px;
            padding: 0 0.5em;
            padding-top: 1px;
            padding-bottom: 3px;
        }

        .post {
            margin: 0 1.4em;
        }

        .post:first-child {
            margin-top: 0.6em;
        }

block js_media
    include blog/dashboard_js.jade
    script(type='text/javascript').
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('.blog-sidebar').hide();
            $('#blog-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#blog-tab').addClass('active');
                $('#event-tab').removeClass('active');
                $('.blog-content').show();
                $('.blog-sidebar').hide();
            });
            $('#event-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#event-tab').addClass('active');
                $('#blog-tab').removeClass('active');
                $('.blog-content').hide();
                $('.blog-sidebar').show();
            });
            register_update_relative(function () {
                return $('.post-time');
            }, function (when) {
                return Math.abs(moment().diff(when, 'years')) < 1;
            });
        });

block body
    if request.user.is_authenticated and request.user.is_superuser or perms.judge.test_site
        include blog/dashboard.jade
    else
        block before_posts

    ul#mobile.tabs
        li#blog-tab.active: a(href='#') {% trans "Blog" %}
        li#event-tab: a(href='#') {% trans "Events" %}

    #blog-container
        .blog-content.sidebox
            h3 {% trans "News" %} #[i.fa.fa-terminal]
            .sidebox-content
                each post in posts
                    section(class=('sticky post' if post.sticky else 'post'))
                        h2.title: a(href='{% url "blog_post" post.id post.slug %}')= post.title
                        .time
                            if post.sticky
                                i.fa.fa-star.fa-fw(title='Sticky')
                            - with authors=post.authors.all
                                if authors
                                    span.post-authors: for author in authors
                                        span(class=author.display_rank)
                                            a(href='{% url "user_page" author.user.username %}') #{author.user.username}
                                        if not forloop.last
                                            = ', '
                                    = ' '
                            span.post-time(data-unix='{{ post.publish_on|utc|date:"c" }}')
                                | {% trans "posted" %}
                                = ' '
                                - blocktrans with time=post.publish_on|date:_("N j, Y, g:i") asvar str_time
                                    | on {{ time }}
                                span.relative= str_time
                        .summary
                            - cache 86400 post_summary post.id
                                | #{post.summary|default:post.content|markdown:"blog"|reference|latex_math|proxy_images|nofollowexternal|lazy_load}

            if page_obj.num_pages > 1
                div(style='margin-bottom:10px;margin-top:10px')
                    include list_pages
        .blog-sidebar
            if current_contests
                .blog-sidebox.sidebox
                    h3 {% trans "Ongoing contests" %} #[i.fa.fa-trophy]
                    .sidebox-content
                        each contest in current_contests
                            .contest
                                .name: a(href='{% url "contest_view" contest.key %}')= contest.name
                                .time
                                    - blocktrans with countdown=contest.time_before_end|as_countdown
                                        | Ends in {{ countdown }}.
            if future_contests
                .blog-sidebox.sidebox
                    h3 {% trans "Upcoming contests" %} #[i.fa.fa-trophy]
                    .sidebox-content
                        each contest in future_contests
                            .contest
                                .name: a(href='{% url "contest_view" contest.key %}')= contest.name
                                .time
                                    - blocktrans with countdown=contest.time_before_start|as_countdown
                                        | Starting in {{ countdown }}.
            .blog-sidebox.sidebox
                h3 {% trans "Comment stream" %} #[i.fa.fa-comments]
                .sidebox-content
                    ul: for comment in comments
                        li
                            div(style='font-size:1.1em;font-style:italic')
                                a(href='{{comment.link}}#comment-{{comment.id}}')= comment.title
                            span.poster(class=comment.author.display_rank, style='padding-left:0.25em')
                                a(href='{% url "user_page" comment.author.user.username %}')= comment.author.user.username
                            | &#32;&rarr; #[a(href='{{comment.link}}')= comment.page_title]
                    span.rssatom
                        a(href='{% url "comment_rss" %}') #[span: i.fa.fa-rss] RSS
                        | / #[a(href='{% url "comment_atom" %}') Atom]
            .blog-sidebox.sidebox
                h3 {% trans "New problems" %} #[i.fa.fa-puzzle-piece]
                .sidebox-content
                    ul.new-problems: for problem in new_problems
                        li: a(href='{% url "problem_detail" problem.code %}')= problem.name
                    span.rssatom
                        a(href='{% url "problem_rss" %}') #[span: i.fa.fa-rss] RSS
                        | / #[a(href='{% url "problem_atom" %}') Atom]
    block after_posts
