extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media
    link(rel='alternate', type='application/atom+xml', href='{% url "comment_atom" %}', title='Atom Comment Feed')
    link(rel='alternate', type='application/rss+xml', href='{% url "comment_rss" %}', title='RSS Comment Feed')
    style
        .blog-content {
            padding-right: 1em;
            padding-left: 1em;
            width: 81%;
            display: table-cell;
            border: 1px solid #CCC;
            border-radius: 4px;
            vertical-align: top;
        }

        .blog-content .post {
            border-bottom: 1px dashed #CCC;
        }

        .blog-content .post:last-child {
            border-bottom: none;
        }

        .comment-content {
            position: relative;
            display: table-cell;
            float: right;
            border: 1px solid #CCC;
            border-radius: 4px;
            width:100%;
            margin-bottom:1em;
        }

        .comment-content h3 {
            padding-bottom: 0.25em;
            padding-left: 0.5em;
            border-bottom: 1px dashed #CCC;
        }

        .comment-content ul {
            list-style: none;
            padding-left: 1em;
            padding-right: 0.5em;
            font-size: 110%;
        }

        .comment-content ul li {
            margin-bottom: 0.75em;
        }

        .time {
            color: #555;
        }

        .container {
            display: table;
            border-collapse: separate;
            border-spacing: 1em;
            margin-left: -1em;
            margin-right: -1em;
        }

        .rssatom span {
            width: 1em;
            height: 1em;
            padding: 0.1em;
            font-size: 0.8em;
            color: white;
            border-radius: 0.2em;
            display: inline-block;
            margin-right: 0.2em;
            border: 1px solid rgb(201, 90, 18);
            background: #fb9e39;
            background: -webkit-linear-gradient(315deg, #e46d27 0%, #fb9e39 47%, #e46d27 100%);
            background: linear-gradient(135deg, #e46d27 0%,#fb9e39 47%,#e46d27 100%); 
        }

        .rssatom span i {
            text-align: center;
            display: block;
        }

        .rssatom {
            float: right;
            padding-right: 1em;
        }

        h3 .fa {
            float: right;
            margin: 0.2em 0.4em 0px 0px;
        }

block body
    block before_posts

    div.container
        div.blog-content
            if page_obj.num_pages > 1
                div(style='margin-bottom:10px;')
                    include list_pages

            each post in posts
                div(class=('sticky post' if post.sticky else 'post'))
                    h2.title
                        a(href='{% url "blog_post" post.id post.slug %}')= post.title
                    div.time
                        if post.sticky
                            i.fa.fa-star.fa-fw(title='Sticky')
                        | #{post.publish_on|date:"N j, o, G:i"}
                    div.summary
                        - cache 86400 post_summary post.id
                            | #{post.summary|default:post.content|markdown:"blog"}

            if page_obj.num_pages > 1
                div(style='margin-bottom:10px;')
                    include list_pages
        div.comment-content
            h3 Comment stream
                i.fa.fa-comments
            ul
                for comment in comments
                    li
                        span(class=comment.author.display_rank)
                            a(href='{% url "user_page" comment.author.user.username %}') #{comment.author.user.username}
                        | &nbsp;&rarr;
                        if comment.parent
                            a(href='{{comment.link}}#comment-{{comment.id}}') #{comment.parent.title}
                        else
                            a(href='{{comment.link}}#comment-{{comment.id}}') #{comment.page_title}
            div.dashed
            span.rssatom
                a(href='{% url "comment_rss" %}')
                    span
                        i.fa.fa-rss
                    | RSS
                = '/ '
                a(href='{% url "comment_atom" %}') Atom
        div.comment-content
            h3 New problems
                i.fa.fa-puzzle-piece
            ul
                for problem in problems
                    li
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
            div.dashed
            span.rssatom
                a(href='{% url "problem_rss" %}')
                    span
                        i.fa.fa-rss
                    | RSS
                = '/ '
                a(href='{% url "problem_atom" %}') Atom

    block after_posts
