doctype 5
-load staticfiles
-load strings
-load variables
-load timedelta
html(lang='en')
    head
        title
            block title
                | #{title} - Don Mills Online Judge
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        if misc_config.meta_keywords
            meta(name='keywords', content=misc_config['meta_keywords'])
        link(rel='stylesheet', href='{% static "style.css" %}')
        link(rel='canonical', href='http://{{ site.domain }}{{ request.get_full_path }}')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='{% static "navbar.js" %}')
        script(src='{% static "clock.js" %}')
        if nav_tab
            style.
                nav ul li a.nav-#{nav_tab.key} {
                    color: #FFF;
                    background: #2980b9
                }
        if IN_CONTEST
            script(type='text/javascript')
                $(document).ready(function () {
                    count_down($("#contest-time-remaining"));
                });
            style.
                #contest-info {
                    position: absolute;
                    padding: 0 5px 3px;
                    right: 10px;
                    top: 30px;
                    font-size: 2em;
                    border: 1px solid gray;
                    border-radius: 4px;
                    background-color: #111;
                }
                #contest-info a {
                    color: white;
                }
                #contest-time-remaining {
                    display: inline
                }
        block media
    body
        noscript This site works best with JavaScript enabled.
        #header.unselectable
            h1
                span(style='color: #FFDE05') DM::
                | OJ
            if IN_CONTEST
                #contest-info
                    a(href='{% url "contest_view" CONTEST.contest.key %}')
                        | #{CONTEST.contest.name} -
                        #contest-time-remaining #{CONTEST.time_remaining|timedelta:"simple"}
        header#nav-head
            nav#navigation.unselectable
                ul
                    each item in nav_bar
                        li
                            a(href=item.path, class='nav-{{ item.key }}')= item.label
                span#user-links
                    if request.user.is_authenticated
                        a(href='{% url "judge.views.user" %}')
                            | Hello,&nbsp;
                            b #{request.user.username}
                        | &nbsp;|
                        if request.user.is_staff or request.user.profile.is_admin
                            a(href='{% url "admin:index" %}') admin
                            | &nbsp;|
                        a(href='{% url "django.contrib.auth.views.logout" %}?next=')
                            | &nbsp;log out
                    else
                        a(href='{% url "django.contrib.auth.views.login" %}?next={{ LOGIN_RETURN_PATH|urlencode }}')
                            b Login
                        | &nbsp;|&nbsp;
                        a(href='/accounts/register/') Register
        br
        div#content
            h2(style='color:#393630; display:inline')
                block content_title
                    if content_title
                        | #{content_title}
                    else
                        | #{title}
            block header
            if subtitle
                br
                block content_subtitle
                    h3(style='display:inline; font-size:1.5em; color:gray; font-style:italic') #{subtitle}
            hr
            div#content-body
                block body
            footer
                p
        block bodyend
                                                 
