doctype 5
- load staticfiles
- load strings
- load variables
- load timedelta
- load cache
- load mptt_tags
html(lang='en')
    head
        title
            block title
                | #{title} - Don Mills Online Judge
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        if misc_config.meta_keywords
            meta(name='keywords', content=misc_config['meta_keywords'])
        link(rel='stylesheet', href='{% static "style.css" %}')
        link(rel='stylesheet', href=FONTAWESOME_CSS)
        link(rel='canonical', href='http://{{ site.domain }}{{ request.get_full_path }}')
        script(src=JQUERY_JS)
        script(src='{% static "common.js" %}')
        | <!--[if lt IE 9]>
        | <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        | <script>window.bad_browser = true</script>
        | <![endif]-->
        block meta
        style.
            {% for item in nav_tab %}nav ul li a.nav-{{ item }}{% if not forloop.last %},{% endif %} {% endfor %}{
                color: #FFF;
                background: #2980b9
            }
        if IN_CONTEST
            script(type='text/javascript')
                $(document).ready(function () {
                    count_down($("#contest-time-remaining"));
                });
            style.
                #contest-info {
                    position: fixed;
                    padding: 3px 5px 3px 3px;
                    right: 10px;
                    top: 35px;
                    height: 1.4em;
                    font-size: 1.5em;
                    border: 1px solid gray;
                    border-radius: 4px;
                    background-color: #111;
                    z-index: 1000;
                }
                
                #contest-info a {
                    height: 1.4em;
                    padding:0;
                    margin:0;
                    color: white;
                }
                
                #contest-time-remaining {
                    display: inline-block;
                }

        block media
        
        if misc_config.analytics
            | #{misc_config.analytics|safe}
        if request.user.is_superuser or perms.judge.test_site
            link(href='//fonts.googleapis.com/css?family=Open Sans:300,400,700', rel='stylesheet', type='text/css')
            link(href='//fonts.googleapis.com/css?family=Istok Web:700', rel='stylesheet', type='text/css')
            style
                body, .content-description { font-family: 'Open Sans', sans-serif !important; }
                body h1 { font-family: 'Istok Web' }
    body
        noscript This site works best with JavaScript enabled.
        #header.unselectable
            h1
                a(href='/')
                    block site_title
                        svg(xmlns='http://www.w3.org/2000/svg', height='65', width='212')
                            switch
                                g(transform='translate(0 -987.36)')
                                    path(d='m1.8 1045v-46.4h16.4q24.7 0 24.7 22.6 0 10.8-6.8 17.3-6.7 6.5-18 6.5h-16.4zm10.4-37.9v29.4h5.2q6.8 0 10.6-4.1 3.9-4.1 3.9-11.1 0-6.6-3.8-10.4t-10.7-3.8h-5.1z', style='fill:#ffde05')
                                    path(d='m101.5 1045h-10.3v-27.8q0-4.5 0.4-9.9h-0.3q-0.8 4.3-1.5 6.1l-10.9 31.5h-8.5l-11.1-31.2q-0.5-1.3-1.5-6.5h-0.3q0.4 6.9 0.4 12v25.7h-9.4v-46.4h15.3l9.5 27.5q1.1 3.3 1.6 6.6h0.2q0.9-3.8 1.8-6.7l9.5-27.4h14.9v46.4z', style='fill:#ffde05')
                                    g(transform='translate(0,-4)')
                                        path(d='m113.6 1022.2q-2.5 0-4.2-1.5-1.7-1.6-1.7-3.8 0-2.3 1.7-3.8t4.3-1.5 4.3 1.5 1.7 3.8q0 2.4-1.7 3.8-1.7 1.5-4.4 1.5zm0 23.7q-2.5 0-4.2-1.6t-1.7-3.8q0-2.3 1.7-3.8t4.3-1.5 4.3 1.5 1.7 3.8q0 2.4-1.7 3.9t-4.4 1.5z', style='fill:#ffde05')
                                        path(d='m129.6 1022.2q-2.5 0-4.2-1.5-1.7-1.6-1.7-3.8 0-2.3 1.7-3.8t4.3-1.5 4.3 1.5 1.7 3.8q0 2.4-1.7 3.8-1.7 1.5-4.4 1.5zm0 23.7q-2.5 0-4.2-1.6t-1.7-3.8q0-2.3 1.7-3.8t4.3-1.5 4.3 1.5 1.7 3.8q0 2.4-1.7 3.9t-4.4 1.5z', style='fill:#ffde05')
                                    path(d='m161.7 1045.8q-10 0-16.2-6.5-6.3-6.5-6.3-16.9 0-11 6.4-17.8t16.9-6.8q9.9 0 16 6.5t6.1 17.1q0 10.9-6.4 17.6-6.3 6.7-16.6 6.7zm0.5-39q-5.5 0-8.7 4.1t-3.2 10.9q0 6.9 3.2 10.9t8.5 4q5.4 0 8.6-3.9t3.2-10.8q0-7.2-3.1-11.2t-8.4-4z', style='fill:#aaa')
                                    path(d='m209.6 1026.6q0 9.3-4.3 14.3-4.3 4.9-12.5 4.9-3.7 0-6.8-1.3v-9.8q2.7 2 6 2 7.1 0 7.1-10.6v-27.6h10.4v28z', style='fill:#aaa')
                                foreignobject
                                    span(style='color: #FFDE05') DM::
                                    | OJ
            if IN_CONTEST
                #contest-info
                    a(href='{% url "contest_view" CONTEST.contest.key %}')
                        | #{CONTEST.contest.name} -
                        #contest-time-remaining #{CONTEST.time_remaining|timedelta:"simple"}
        header#nav-head
            nav#navigation.unselectable
                a#navicon(href='javascript:void(0)')
                    i.fa.fa-bars
                    &nbsp;MENU
                ul#nav-list
                    - recursetree nav_bar
                        li
                            a(href=node.path, class='nav-{{ node.key }}')= node.label
                            if not node.is_leaf_node
                                ul {{ children }}
                    - endrecursetree
                span#user-links
                    if request.user.is_authenticated
                        a(href='{% url "user_page" %}')
                            | Hello,&nbsp;
                            b #{request.user.username}
                        | &nbsp;|
                        if request.user.is_staff or request.user.is_superuser
                            a(href='{% url "admin:index" %}') admin
                            | &nbsp;|
                        a(href='{% url "django.contrib.auth.views.logout" %}?next=')
                            | &nbsp;log out
                    else
                        a(href='{% url "django.contrib.auth.views.login" %}?next={{ LOGIN_RETURN_PATH|urlencode }}')
                            b Login
                        | &nbsp;|&nbsp;
                        a(href='/accounts/register/') Register
        br
        div#content
            block title_row
                h2(style='color:#393630; display:inline')
                    block content_title
                        if content_title
                            | #{content_title}
                        else
                            | #{title}
            block header
            if subtitle
                br
                block content_subtitle
                    h3(style='display:inline; font-size:1.5em; color:gray; font-style:italic') #{subtitle}
            hr
            div#content-body
                block body
            footer
                p
        if misc_config.announcement
            div#announcement #{misc_config.announcement|safe}
        block bodyend
