doctype 5
- load staticfiles
- load strings
- load variables
- load timedelta
- load cache
- load mptt_tags
- load compress

html(lang='en')
    head
        title
            block title
                | #{title} - Don Mills Online Judge
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        if misc_config.meta_keywords
            meta(name='keywords', content=misc_config['meta_keywords'])
        meta#viewport(name='viewport', content='initial-scale=1')
        meta(property='og:image', content='https://dmoj.ca/logo.png')
        meta(property='og:title', content='{{ title }} - Don Mills Online Judge')
        meta(property='og:site_name', content='Don Mills Online Judge')

        | <!--[if lt IE 9]>
        | <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        | <script>window.bad_browser = true</script>
        | <![endif]-->
        if IN_CONTEST
            style.
                #contest-info {
                    height: 1.4em;
                    font-size: 1.25em;
                    border-bottom: 1px solid #2980B9;
                    margin-bottom: 2px;
                }

                #contest-info a {
                    height: 1.4em;
                    padding: 0;
                    margin: 0;
                    color: white;
                }

                #contest-time-remaining {
                    display: inline-block;
                }
        block meta
        if INLINE_FONTAWESOME
            - compress css
                link(rel='stylesheet', href='{% static "style.css" %}')
                link(rel='stylesheet', href='{% static "libs/font-awesome.css" %}')
        else
            link(rel='stylesheet', href='{% static "style.css" %}')
            link(rel='stylesheet', href=FONTAWESOME_CSS)
        link(rel='canonical', href='{{ DMOJ_SCHEME }}://{{ site.domain }}{{ request.get_full_path }}')
        block media
        style.
            {% for item in nav_tab %}nav ul li a.nav-{{ item }}{% if not forloop.last %},{% endif %} {% endfor %}{
                color: #FFF;
                background: #2980B9;
                margin-bottom: 0px;
                padding: 13px 7px;
                margin: 0px;
            }
        if INLINE_JQUERY
            - compress js
                script(src='{% static "libs/jquery-1.11.2.min.js" %}')
                script(src='{% static "common.js" %}')
        else
            script(src=JQUERY_JS)
            script(src='{% static "common.js" %}')
        block js_media
        if IN_CONTEST
            script(type='text/javascript').
                $(document).ready(function () {
                    count_down($("#contest-time-remaining"));
                });

        if misc_config.analytics
            | #{misc_config.analytics|safe}
    body
        noscript This site works best with JavaScript enabled.
        header.unselectable(style='display:none')
            h1
                a(href='/')
                    block site_title
                        include logo.svg
        nav#navigation.unselectable
            #nav-container
                a#navicon(href='javascript:void(0)')
                    i.fa.fa-bars
                    | &nbsp;MENU
                ul#nav-list
                    li#home-nav-element
                        a(href='/')
                            img(src='//dmoj.ca/logo.png', style='width: 42px; display: inline-block; vertical-align: middle; padding: 0px 2px; margin: 0px -1px 0px 2px;')
                            span(style='display:inline-block; font-weight: bold; vertical-align: middle; padding-bottom: 5px; font-size: 2.2em; margin-left: 5px')
                                span(style='color: rgb(255, 222, 5)') DM::
                                span(style='color: #AAA') OJ
                    // Divider
                    li
                        span(style='width: 1px; vertical-align: middle; padding-left: 3px; display: inline-block; height: 32px; margin-right: 1px; border-right: 3px solid rgba(255, 255, 255, 0.15);')
                    - recursetree nav_bar
                        li
                            a(href=node.path, class='nav-{{ node.key }}')= node.label
                            if not node.is_leaf_node
                                ul {{ children }}
                    - endrecursetree
                span#user-links(style='text-align: right')
                    if request.user.is_authenticated
                        if IN_CONTEST
                            #contest-info
                                a(href='{% url "contest_view" CONTEST.contest.key %}')
                                    | #{CONTEST.contest.name} -
                                    #contest-time-remaining #{CONTEST.time_remaining | timedelta:"simple"}
                        a(href='{% url "user_page" %}')
                            | Hello,&nbsp;
                            b #{request.user.username}
                        | &nbsp;|
                        if request.user.is_staff or request.user.is_superuser
                            a(href='{% url "admin:index" %}') admin
                            | &nbsp;|
                        a(href='{% url "django.contrib.auth.views.logout" %}?next=')
                            | &nbsp;log out
                    else
                        a(href='{% url "django.contrib.auth.views.login" %}?next={{ LOGIN_RETURN_PATH|urlencode }}')
                            b Login
                        | &nbsp;|&nbsp;
                        a(href='/accounts/register/') Register
            #nav-shadow

        br
        div#content
            block title_row
                h2(style='color:#393630; display:inline')
                    block content_title
                        if content_title
                            | #{content_title}
                        else
                            | #{title}
            block header
            if subtitle
                br
                block content_subtitle
                    h3(style='display:inline; font-size:1.5em; color:gray; font-style:italic') #{subtitle}
            hr
            div#content-body
                block body
            footer
                p
        if misc_config.announcement
            div#announcement #{misc_config.announcement|safe}
        block bodyend
