html
    head
        title #{code} - #{id}
        style.
            body {
                color: #FFFFFF;
                background-color: #000080;
                font-family: Lucida Console, serif;
                font-size: 18pt;
                font-smooth: never;
                -webkit-font-smoothing: none;
                margin-left: 50px;
                margin-top: 20px;
            }

            a {
                color: #FFFFFF;
                font-weight: bold
            }

            pre {
                font-family: Lucida Console, serif;
                line-height: 1.3;
                font-smooth: never;
                -webkit-font-smoothing: none;
            }
    body
        h2 SIGSEGV: #{id}
        pre
            | #{description}
            | site: fatal signal: Segmentation fault
            | site died (signal
            b &nbsp;#{code}
            | , exit -11)
            br
            br
            | panic:&nbsp;
            a(href='javascript:history.back()') go back
        if request.user.is_superuser and traceback
            pre #{traceback}
