- load static from staticfiles
- load timedelta
- load i18n

tr
    th {% trans "Name" %}
    if see_all_judges
        th {% trans "Online" %}
    th {% trans "Uptime" %}
    th {% trans "Ping" %}
    th {% trans "Load" %}
    th {% trans "Runtimes" %}
for judge in judges
    tr
        td
            a(href='{% url "judge_info" judge.name %}')= judge.name
        if see_all_judges
            td
                if judge.online
                    i.fa.fa-check-circle(style='color:#44AD41')
                else
                    i.fa.fa-minus-circle(style='color:#DE2121')
        td
            if judge.online
                | #{judge.uptime|timedelta:"simple"}
            else
                | N/A
        td
            if judge.online
                | #{judge.ping_ms|floatformat:3} ms
            else
                | N/A
        td
            if judge.online
                | #{judge.load|floatformat:3}
            else
                | N/A
        td
            if judge.online
                each runtime in judge.runtimes.all
                    a(href='{% url "runtime_info" runtime.key %}')= runtime.name
                    if not forloop.last
                        = ', '
            else
                | N/A
if not judges
    tr
        td(colspan='6')
            em {% trans "There are no judges available for this language." %}
