- load static from staticfiles
- load timedelta

tr
    th Name
    th Online
    th Uptime
    th Ping
    th Load
    th Runtimes
for judge in judges
    tr
        td
            a(href='{% url "judge_info" judge.name %}')= judge.name
        td
            if judge.online
                img(src='{% static "admin/img/icon-yes.gif" %}')
            else
                img(src='{% static "admin/img/icon-no.gif" %}')
        td
            if judge.online
                | #{judge.uptime|timedelta:"simple"}
            else
                | N/A
        td
            if judge.online
                | #{judge.ping_ms|floatformat:3} ms
            else
                | N/A
        td
            if judge.online
                | #{judge.load|floatformat:3}
            else
                | N/A
        td
            if judge.online
                each runtime in judge.runtimes.all
                    a(href='{% url "runtime_info" runtime.key %}')= runtime.name
                    if not forloop.last
                        = ', '
            else
                | N/A