extends base
-load staticfiles

block media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#problem-table").tablesorter({
                sortList: [
                    [2, 0]
                ]
            });
        });
    style
        #problem-table .problem {
            width: 85%
        }

        #problem-table .category {
            width: 15%
        }

        #problem-table .code, .points, .users {
            white-space: nowrap
        }

block body
    form(name='form', action='', method='get')
        if hide_solved
            input(type='checkbox', name='hide_solved', id='hide_solved', value='1', onclick='document.form.submit()', checked='checked')
        else
            input(type='checkbox', name='hide_solved', id='hide_solved', onclick='document.form.submit()')
        label(for='hide_solved') Hide solved problems
    table#problem-table.table
        thead
            tr
                th.problem Problem
                th.category Category
                th.code Code
                th.points Points
                th.users Users
        tbody
            each problem in problems
                tr
                    td
                        a(href='{% url "judge.views.problem" problem.code %}') #{problem.name}
                    td #{problem.types_list|join:",<br>"}
                    td #{problem.code}
                    td #{problem.points}
                        if problem.partial
                            | p
                    td
                        a(href='{% url "judge.views.ranked_submissions" problem.code %}') #{problem.number_of_users}
