extends base
-load staticfiles

block media
    | #{form.media}

    | <script type='text/javascript'>
    |     var modes = {
    each lang in langs
        |      "#{lang.id}": "#{lang.ace|escapejs}",
    |     };
    | </script>
    script(type='text/javascript')
        $(document).ready(function () {
            $('#id_language').change(function () {
                var lang = $("#id_language").find("option:selected").attr('value');
                window.ace_source.getSession().setMode("ace/mode/" + modes[lang]);
            });

            $('#id_problem').change(function () {
                var prob = $("#id_problem").find("option:selected").attr('value');
                $.ajax({
                    url: '{% url "judge.views.single_submission_query" %}',
                    data: {id: prob}
                }).done(function (data) {
                    $('#id_language').html(data);
                }).fail(function () {
                    console.log('Failed to update language: ' + prob);
                });
            });

            $('#ace_source').on('ace_load', function (e, editor) {
                var source = $('textarea#id_source');
                if (source.val() == '') {
                    var problem = $('#id_problem').find('option:selected').attr('value');
                    var code = localStorage.getItem('submit:' + problem);
                    if (code) {
                        source.val(code);
                        editor.getSession().setValue(code);
                    }
                }
            });
        });
    style
        #submit-wrapper {
            margin-top: 0.7em;
        }

        #submit-wrapper #problem-id, #submit-wrapper #editor, #submit-wrapper #language {
            margin-top: 4px;
        }

block body
    form#problem_submit.form-area(action='', method='post')
        -csrf_token
        | #{form.non_field_errors}
        #submit-wrapper
            #problem-id
                | #{form.problem.errors}
                | #{form.problem}
            #editor
                | #{form.source.errors}
                | #{form.source}
            #language
                | #{form.language.errors}
                | #{form.language}
        hr
        input(class="button", style="float:right;", type='submit', value='Submit!')
