- load list_processor
- load mathtag

if submission.status != 'CE'
    if submission.batch
        - regroup test_cases by batch as batches
        each batch in batches
            b Batch ##{batch.grouper}
            | &nbsp;(#{batch.list|list_getattr:"points"|min_list|floatformat:"0"}/#{batch.list|list_getattr:"total"|max_list|floatformat:"0"} points)
            .batch-cases
                for case in batch.list
                    b Case ##{forloop.counter}:
                    span(class=case.status) &nbsp;#{case.status}
                    if case.status != 'SC'
                        | &nbsp;[#{case.time|floatformat:"3"}s, #{case.memory|floatformat:"-1"}kb]
                    br
            br
    else
        table
            each case in test_cases
                tr
                    td
                        b Test case ##{forloop.counter}:
                    td
                        span(class=case.status) &nbsp;#{case.status}
                        | &nbsp;[#{case.time|floatformat:"3"}s,
            
                        - with memory=case.memory|default_if_none:0
                            if memory < 1000
                                | #{memory|floatformat:"-2"}kb]
                            else
                                - math memory "$1 / 1024" as megabytes
                                | #{megabytes|floatformat:"-2"}mb]
                        | (#{case.points|floatformat:"0"}/#{case.total|floatformat:"0"})
        br
    if submission.is_graded
        br
        if submission.result != "AB"
            b Final score:
            | &nbsp;#{submission.testcase_granted_points|floatformat:"0"}/#{submission.testcase_total_points|floatformat:"0"} (#{submission.points|floatformat:"0"}/#{submission.problem.points|floatformat:"0"} points)
        else
            b Submission aborted!
        br
else
    h4 Compilation Error
    pre #{submission.error}
