extends base
-load staticfiles
-load gravatar

block media
    style
        a.edit-profile {
            float: right;
            padding-top: 1em;
        }

block header
    if user.user == request.user
        a.edit-profile(href='{% url "judge.views.edit_profile" %}')
            | Edit profile

block body
    if user.name
        b #{user.name}
        br
        br
    if user.about
        h3 Self-description
        | #{user.about|linebreaks}
        br
        br
    h4 #{user.problems} problems solved.
    br
    b Total points:&nbsp;
    | #{user.calculate_points}
    - regroup best_submissions by problem.groups as problems
    each group in problems
        h3= group.grouper
        ul
            each entry in group.list
                li
                    a(href='{% url "judge.views.problem" entry.problem__code %}') #{entry.problem__name}
                    | &nbsp;(#{entry.points} / #{entry.problem__points})
