extends base
-load staticfiles
-load gravatar
-load list_processor

block media
    style
        a.edit-profile {
            float: right;
            padding-top: 1em;
        }
        .user-problem-group h3 {
            font-weight: bold;
            font-size: 1.25em;
            margin-bottom: -10px;
            max-height: 20%;
            line-height: 2.5em;
        }
        .user-problem-group ul {
            -webkit-columns: 100px 4;
            -moz-columns: 100px 4;
            columns: 100px 4;
            list-style-type: none;
            margin-top: 0;
            margin-left: -20px;
            margin-bottom: 0px;
        }
        .user-problem-group a img {
            max-width: 1em;
            margin-right:3px;
            padding-bottom:1px;
            vertical-align: middle;
        }

    script(type='text/javascript')
        $(function () {
            $('a.hide-group').click(function (event) {
                var a = this;
                var ul = $(this).parents('div.user-problem-group').find('ul');
                if (ul.is(':visible')) {
                    ul.slideUp('slow', function () {
                        $(a).html('<img src="{% static "icons/plus.png" %}"></img>');
                    });
                } else {
                    ul.slideDown('slow', function () {
                        $(a).html('<img src="{% static "icons/minus.png" %}"></img>');
                    });
                }
                event.preventDefault();
            });
        });

block header
    if user.user == request.user
        a.edit-profile(href='{% url "judge.views.edit_profile" %}')
            | Edit profile

block body
    if user.name
        b Name: 
        | #{user.name}
        br
        br
    if user.about
        h4 About
        | #{user.about|linebreaks}        
        br
    h4 #{user.problems} problems solved.
    br
    b Total points:&nbsp;
    | #{user.calculate_points}
    br
    - regroup best_submissions by problem__group__full_name as problems
    each group in problems
        div.user-problem-group
            h3
                a.hide-group.unselectable(href='#')
                    img(src='{% static "icons/minus.png" %}')
                | #{group.grouper}
                | (points: #{group.list|list_getitem:"points"|sum_list})
            ul
                each entry in group.list
                    li
                        a(href='{% url "judge.views.problem" entry.problem__code %}') #{entry.problem__name}&nbsp;
                        a(href='{% url "judge.views.user_submissions" entry.problem__code user.user.username %}')
                            | (#{entry.points} / #{entry.problem__points})
