extends base
- load staticfiles

for message in incoming
    if not message.read
        b #{message.title} &rarr; me (#{message.timestamp})
    else
        | #{message.title} &rarr; me (#{message.timestamp})
    br
br
.dashed
br
for message in outgoing
    | #{message.title} &rarr; #{message.target} (#{message.timestamp})
    br
    
