extends base

block body
    include organization/requests/tabs

    if requests
        table
            tr
                th User
                th Time
                th State
                th Reason
            for r in requests
                tr(id='request-{{ r.id }}')
                    - with user=r.user
                        td(class=user.display_rank) #{form.id}
                            a(href='{% url "user_page" user.user.username %}', target='_blank')= user.long_display_name
                    td #{r.time|date:"N j, o, h:i"}
                    td #{r.state}
                    td #{r.reason|truncatechars:50}
    else
        p There are no requests to approve.
