extends base
- load i18n

block body
    if messages
        ul.messages
            each message in messages
                li(class=message.tags) #{message}

    include organization/requests/tabs

    if formset.forms
        form(action='', method='post')
            - csrf_token
            #{formset.management_form}
            table
                tr
                    th {% trans "User" %}
                    th {% trans "Time" %}
                    th {% trans "State" %}
                    th {% trans "Reason" %}
                    if formset.can_delete
                        th {% trans "Delete?" %}
                each form in formset
                    tr(id='request-{{ form.instance.id }}')
                        - with user=form.instance.user
                            td(class=user.display_rank) #{form.id}
                                a(href='{% url "user_page" user.user.username %}', target='_blank')= user.long_display_name
                        td #{form.instance.time|date:_("N j, Y, h:i")}
                        td #{form.state}
                        td #{form.instance.reason|truncatechars:50}
                        if formset.can_delete
                            td #{form.DELETE}
            button(type='submit') {% trans "Update" %}
    else
        p {% trans "There are no requests to approve." %}
