h1= comment.title

h2 Votes

table.table
    thead
        th Voter
        th Score
    tbody: each vote in votes
        - with user=vote.voter
            td(class=user.display_rank)
                a.user-name(href='{% url "user_page" user.user.username %}')= user.user.username
        td= vote.score
