- load cache
- load i18n
- load rating

thead
    tr
        th.header.rank #{rank_header|default:_("Rank")}
        block after_rank_head
        th.header.username {% trans "Username" %}
        block before_point_head
        if sort_links
            th.header.points: a(href=sort_links['performance_points']) {% trans "Points" %}#{sort_order.performance_points}
        else
            th.header.points {% trans "Points" %}
        block after_point_head
    tbody
        for rank, user in users
            tr(id='user-{{ user.user.username }}')
                td #{rank}
                block after_rank
                td.user-name(class='rating {{ user.rating|rating_class }} {{ user.display_rank }}')
                    a(href='{% url "user_page" user.user.username %}')= user.user.username
                block before_point
                block point
                    td.user-points= user.performance_points
                block after_point
