- load cache

thead
    tr
        th.header.rank Rank
        th.header.username Username
        block before_point_head
        th.header.points Points
        block after_point_head
    tbody
        for rank, user in users
            tr
                td= rank
                if show_organization
                    - cache 86400 user_org_on_rank user.id
                        td(class=user.display_rank)
                            .userinfo
                                if user.organization
                                    span.organization
                                        a(href='{% url "organization_home" user.organization.key %}')= user.organization.key
                                a(href='{% url "judge.views.user" user.user.username %}')= user.long_display_name
                else
                    - cache 86400 user_on_rank user.id
                        td(class=user.display_rank)
                            a(href='{% url "judge.views.user" user.user.username %}')= user.long_display_name
                block before_point
                td.user-points= user.points
                block after_point