extends user/user-base

- load i18n

block user_media
    include timezone/media-css
    | #{form.media.css}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 70px;
            max-height: 200px;
            height:70px
        }
        
        .grayed {
            color: #666;
        }
        
        .inline-header {
            float: left;
            font-size: 1.1em;
            padding: 4px 8px;
            padding-left: 0;
        }
        
        .block-header {
            color: #666;
            font-size: 1.1em;
        }
        
        .fullwidth {
            display: block;
            overflow: hidden;
        }
        
        #edit-form {
            border: unset;
            background: unset;
            max-width: 700px;
        }
        
        #center-float {
            position: relative;
            margin: 0em auto auto -28.5em;
            left: 50%;
            width: 700px;
        }

block js_media
    include timezone/media-js
    | #{form.media.js}
    script(type='text/javascript').
        $(function() {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
            });
        });

block title_ruler

block title_row
    - var user_tab = 'edit'
    - var user = request.user.profile
    include user/user-tabs

block body
    #center-float: form.form-area#edit-form(action='', method='post')
        if form.errors
           .alert.alert-danger.alert-dismissable
                a.close(href='#') x
                | #{form.non_field_errors}
        - csrf_token
        div(style='padding-top:0.5em')
            label.inline-header.grayed {% trans "Display name" %}:
            span.fullwidth #{form.name}
        div.block-header(style='padding-top:1em') {% trans "Self-description" %}:
        | #{form.about}
        hr
        table(border=0, style='padding-top:0.7em')
            tr
                td(style='vertical-align:top;'): table(style='padding-right:0.8em')
                    tr
                        td: label.inline-header.grayed {% trans "Location" %}:
                        td: span.fullwidth #{form.timezone}
                    tr
                        td: label.inline-header.grayed {% trans "Preferred language" %}:
                        td: span.fullwidth #{form.language}
                    tr
                        td: label.inline-header.grayed {% trans "Editor theme" %}:
                        td: span.fullwidth #{form.ace_theme}
                    if has_math_config
                        tr
                            td: label.inline-header.grayed {% trans "Math engine" %}:
                            td: span.fullwidth #{form.math_engine}
                    if form.newsletter
                        tr: td(colspan=2) #{form.newsletter}
                            label.inline-header.grayed(for='id_newsletter', style='float: unset;') {% trans "Notify me about upcoming contests" %}
                    tr: td(colspan=2) #{form.test_site}
                        label.inline-header.grayed(for='id_test_site', style='float: unset') #{form.test_site.label}
                    tr: td(colspan=2)
                        a.inline-header(href='http://www.gravatar.com/', title='{% trans "Change your avatar" %}', target='_blank')
                            - trans "Change your avatar"
                    tr: td(colspan=2)
                        a.inline-header(href='{% url "password_change" %}')
                            - trans "Change your password"
                td
                    div.block-header(style='padding-bottom:0.4em;margin-top:-2em;') {% trans "Affiliated organizations" %}:
                    | #{form.organizations}
        hr
        div.block-header {% trans "User-script" %}:
        | #{form.user_script}
        hr
        input(type='submit', style='float:right', value='{% trans "Update profile" %}')
