extends user/user_base

- load i18n

block user_media
    include timezone/media
    | #{form.media.css}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 100px;
            max-height: 200px;
        }

block js_media
    include timezone/js_media
    | #{form.media.js}
    script(type='text/javascript').
        $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
        });
                

block title_ruler

block title_row
    - var user_tab = 'edit'
    - var user = request.user.profile
    include user/user_tabs

block body
    form.form-area(action='', method='post')
        - csrf_token
        table(border=0, style='text-align:left')
            tr
                th: b {% trans "Display name" %}:
                td #{form.name}
            tr
                th: b {% trans "Self-description" %}:
                td #{form.about}
            tr
                th: b {% trans "Organizations" %}:
                td #{form.organizations}
            tr
                th: b {% trans "Location" %}:
                td #{form.timezone}
                    |  {% trans "or" %}
                    = ' '
                    a#open-map(href='#', data-featherlight='.map-wrap')
                        - trans "pick from map"
            tr
                th: b {% trans "Preferred language" %}:
                td #{form.language}
            tr
                th: b {% trans "Ace theme" %}:
                td #{form.ace_theme}
            tr
                th: b {% trans "User-script" %}:
                td #{form.user_script}
        a(href='http://www.gravatar.com/', title='{% trans "Change your avatar" %}', target='_blank')
            - trans "Change your avatar"
        br
        hr
        a(href='{% url "password_change" %}')
            - trans "Change your password"
        hr
        input(type='submit', style='float:right', value='{% trans "Update profile" %}')
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
