extends user/user_base

- load i18n

block user_media
    include timezone/media
    | #{form.media.css}
    style.
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 70px;
            max-height: 200px;
            height:70px
        }

block js_media
    include timezone/js_media
    | #{form.media.js}
    script(type='text/javascript').
        $(function() {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                    editor.getSession().setMode("ace/mode/javascript");
            });
        });

block title_ruler

block title_row
    - var user_tab = 'edit'
    - var user = request.user.profile
    include user/user_tabs

block body
    form.form-area(action='', method='post')
        - csrf_token

        div(style='padding-top:0.5em')
            label(style='color:#666;float:left;font-size:1.1em;padding:4px 8px;padding-left:0') {%trans "Display name" %}:
            span(style='display:block;overflow:hidden') #{form.name}
        div(style='padding-top:1em')
            div(style='color:#666;font-size:1.1em') {%trans "Self-description" %}:
            | #{form.about}
        hr
        table(border=0)
            tr
                td(style='vertical-align:top;padding-top:2em'): table(style='padding-right:0.5em')
                    tr
                        td: label(style='color:#666;float:left;font-size:1.1em;padding:4px 8px;padding-left:0') {%trans "Location" %}:
                        td: span(style='display:block;overflow:hidden') #{form.timezone}
                    tr
                        td: label(style='color:#666;float:left;font-size:1.1em;padding:4px 8px;padding-left:0') {%trans "Preferred language" %}:
                        td: span(style='display:block;overflow:hidden') #{form.language}
                    tr
                        td: label(style='color:#666;float:left;font-size:1.1em;padding:4px 8px;padding-left:0') {%trans "Editor theme" %}:
                        td: span(style='display:block;overflow:hidden') #{form.ace_theme}
                    tr
                        td(colspan=2)
                            a(href='http://www.gravatar.com/', title='{% trans "Change your avatar" %}', target='_blank', style='padding:4px 8px;padding-left:0;float:left;font-size:1.1em')
                                - trans "Change your avatar"
                    tr: td(colspan=2)
                        a(href='{% url "password_change" %}', style='padding:4px 8px;padding-left:0;float:left;font-size:1.1em')
                            - trans "Change your password"
                td
                    div(style='padding-top:1em')
                        div(style='color:#666;font-size:1.1em;padding-bottom:0.4em') {%trans "Affiliated organizations" %}:
                        | #{form.organizations}
        hr
        div(style='color:#666;font-size:1.1em') {%trans "User-script" %}:
        | #{form.user_script}
        hr
        input(type='submit', style='float:right', value='{% trans "Update profile" %}')
    div.map-wrap
        div.map-inset
            div.map-axis-x
            div.map-axis-y
