- load tz
- load i18n

td.sub-result(class=breakdown.sub_result_class)
    .score
        | #{breakdown.sub_points|floatformat:"0"} / #{breakdown.sub_total|floatformat:"0"}
    .state
        span.status(title=breakdown.sub_long_status)= breakdown.sub_short_status
        = ' | '
        span.language #{breakdown.sub_lang}

td(colspan=2).sub-info
    .name: a(href='{% url "problem_detail" breakdown.problem_code %}') #{breakdown.problem_name}
    div: span.time(data-unix='{{ breakdown.sub_date|utc|date:"c" }}')
            - blocktrans with time=breakdown.sub_date|date:_("N j, Y") asvar str_time
                | on {{ time }}
            span.relative= str_time

td.sub-pp.sub-usage
    .pp
        a(href='{% url "submission_status" breakdown.sub_id %}') #{breakdown.points|floatformat:0}pp
    .pp-weighted
        | weighted
        = ' '
        b #{breakdown.weight|floatformat:0}%
        = ' '
        if breakdown.scaled_points < 10
            | (#{breakdown.scaled_points|floatformat:1}pp)
        else
            | (#{breakdown.scaled_points|floatformat:0}pp)
