extends user/base-users-table
- load rating
- load i18n

block after_rank_head
    th.header.rank
        if sort_links
            a(href=sort_links['rating'])
                span.rate-group: span.rate-box(style='color: white'): span(style='background: white; height: 0.3em')
                | #{sort_order.rating}
        else
            span.rate-group: span.rate-box(style='color: white'): span(style='background: white; height: 0.3em')

block after_rank
    td
        if user.rating
            span.rate-group
                span.rate-box(class='{{ user.rating|rating_class }}')
                    span(style='height: {{ user.rating|rating_progress|floatformat:3 }}em')
                span.rating(class='{{ user.rating|rating_class }}') #{user.rating}
if perms['judge']['test_site']
    block before_point_head
        if sort_links
            th.pp: a(href=sort_links['performance_points']) {% trans "PP" %}#{sort_order.performance_points}
        else
           th.pp {% trans "PP" %}

    block before_point
        td #{user.performance_points|floatformat:2}

block after_point_head
    if sort_links
        th.problems: a(href=sort_links['problem_count']) {% trans "Problems" %}#{sort_order.problem_count}
    else
        th.problems {% trans "Problems" %}

block after_point
    td #{user.problem_count}
