extends base
- load staticfiles
- load gravatar
- load list_processor
- load markdown_trois_tags
- load rating

block meta
    meta(name='description', content="User list. Join the community!")

block media
    style
        a.edit-profile {
            float: right;
            padding-top: 1em;
        }

        .user-problem-group h3 {
            font-weight: bold;
            font-size: 1.25em;
            margin-bottom: -10px;
            max-height: 20%;
            line-height: 2.5em;
        }

        .user-problem-group ul {
            -webkit-columns: 300px 4;
            -moz-columns: 300px 4;
            columns: 300px 4;
            list-style-type: none;
            margin-top: 0;
            margin-left: -20px;
            margin-bottom: 0;
        }

        .user-problem-group a img {
            max-width: 1em;
            margin-right: 3px;
            padding-bottom: 1px;
            vertical-align: middle;
        }

        .user-gravatar {
            display: block;
            padding-right: 15px;
        }

        .user-gravatar img {
            width: 135px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 4px;
        }

        .user-info-cell {
            padding-left: 15px;
            border-left: 1px solid #CCC;
        }

        table td {
            margin: 0;
            vertical-align: top;
        }

    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    link(rel='stylesheet', href='{% static "rating.css" %}', type='text/css')
    script(type='text/javascript', src='{% static "common.js" %}')

block header
    if user.user == request.user
        a.edit-profile(href='{% url "judge.views.edit_profile" %}')
            | Edit profile

block body
    br
    table
        tr
            td
                .user-gravatar
                    img(src='{% gravatar_url user.user.email 135 user.mute %}', alt='gravatar')
                br
                h4 #{user.solved_problems} problems solved.
                b Total points:
                |  #{user.points}
                br
                if user.rating
                    b Rating:
                    = ' '
                    a.rate-group(href='{% url "user_rating" user.user.username %}', title='{{ user.rating|rating_name }}')
                        span.rate-box(class='{{ user.rating|rating_class }}')
                            span(style='height: {{ user.rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ user.rating|rating_class }}') #{user.rating}
                    br
                a(href='{% url "all_user_submissions" user.user.username %}') View submissions
            td.user-info-cell
                - with org=user.organization
                    if org
                        p
                            b Organization:
                            = ' '
                            a(href='{% url "organization_home" org.key %}')= org.name
                if user.about
                    h4 About
                    | #{user.about|markdown:"self-description"}
                else
                    i
                        if user.user == request.user
                            | You have not shared any information.
                        else
                            | This user has not shared any information.
                br
    hr
    if authored
        div.user-problem-group
            h3.unselectable.toggle.open
                span.icon
                | Authored Problems (#{authored|length})
            ul.toggled
                each problem in authored
                    li
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
                        |  (
                        a(href='{% url "ranked_submissions" problem.code %}') #{problem.points|floatformat}{% if problem.partial %}p{% endif %}
                        | )
        hr
    - regroup best_submissions by group as problems
    each group in problems
        div.user-problem-group
            h3.unselectable.toggle.open
                span.icon
                | #{group.grouper}
                | (#{group.list|list_getitem:"points"|sum_list|floatformat:1} points)
            ul.toggled
                each entry in group.list
                    li
                        a(href='{% url "problem_detail" entry.code %}') #{entry.name}
                        |  (
                        a(href='{% url "user_submissions" entry.code user.user.username %}') #{entry.points} / #{entry.total}
                        | )
