extends base
- load staticfiles
- load gravatar
- load list_processor
- load markdown_trois_tags
- load rating

block meta
    meta(name='description', content="User list. Join the community!")

block media
    style.
        a.edit-profile {
            float: right;
            padding-top: 1em;
        }

        .user-problem-group h3 {
            font-weight: bold;
            font-size: 1.25em;
            margin-bottom: -10px;
            max-height: 20%;
            line-height: 2.5em;
        }

        .user-problem-group ul {
            -webkit-columns: 300px 4;
            -moz-columns: 300px 4;
            columns: 300px 4;
            list-style-type: none;
            margin-top: 0;
            margin-left: -20px;
            margin-bottom: 0;
        }

        .user-problem-group a img {
            max-width: 1em;
            margin-right: 3px;
            padding-bottom: 1px;
            vertical-align: middle;
        }

        .user-gravatar {
            display: block;
            padding-right: 15px;
        }

        .user-gravatar img {
            width: 135px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 4px;
        }

        .user-info-cell {
            padding-left: 15px;
            border-left: 1px solid #CCC;
        }

        .contest-history-cell {
            border-left: 1px solid #CCC;
            padding: 0 0.5em;
        }

        table td {
            margin: 0;
            vertical-align: top;
        }

        .strike {
            text-align: right;
            overflow: hidden;
        }

        .strike > span {
            position: relative;
            display: inline-block;
        }

        .strike > span:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 100000px;
            height: 1px;
            background: rgba(0, 0, 0, 0.2);
            right: 100%;
            margin-right: 5px;
        }

    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')

block header
    if user.user == request.user
        a.edit-profile(href='{% url "judge.views.edit_profile" %}') Edit profile
    else
        if perms.judge.change_user
            a.edit-profile(href='{% url "admin:auth_user_change" user.user.id %}') Admin

block body
    br
    table
        tr
            td
                .user-gravatar
                    img(src='{% gravatar_url user.user.email 135 user.mute %}', alt='gravatar')
                br
                h4 #{user.solved_problems} problems solved.
                b Rank by points:
                |  #{rank} of #{users}
                br
                b Total points:
                |  #{user.points}
                br
                a(href='{% url "all_user_submissions" user.user.username %}') View submissions
            if rating
                td.contest-history-cell
                    h4 Contest History
                    b Rank by rating:
                    |  #{rating_rank} of #{rated_users}
                    br
                    b Rating:
                    = ' '
                    a.rate-group(href='{% url "user_rating" user.user.username %}', title='{{ rating.rating|rating_name }}')
                        span.rate-box(class='{{ rating.rating|rating_class }}')
                            span(style='height: {{ rating.rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ rating.rating|rating_class }}') #{rating.rating}
                    br
                    b Volatility:
                    |  #{rating.volatility}
                    br
                    b Minimum rating:
                    = ' '
                    a.rate-group(href='{% url "user_rating" user.user.username %}', title='{{ min_rating|rating_name }}')
                        span.rate-box(class='{{ min_rating|rating_class }}')
                            span(style='height: {{ min_rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ min_rating|rating_class }}') #{min_rating}
                    br
                    b Maximum rating:
                    = ' '
                    a.rate-group(href='{% url "user_rating" user.user.username %}', title='{{ max_rating|rating_name }}')
                        span.rate-box(class='{{ max_rating|rating_class }}')
                            span(style='height: {{ max_rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ max_rating|rating_class }}') #{max_rating}
                    br
                    b Competitions:
                    |  #{contests}
                    br
                    b Most recent:
                    = ' '
                    a(href='{% url "contest_view" rating.contest.key %}')= rating.contest.name
            td.user-info-cell
                - with orgs=user.organizations.all
                    if orgs
                        p
                            b Organizations:
                            = ' '
                            each org in orgs
                                a(href='{% url "organization_home" org.key %}')= org.name
                                if not forloop.last
                                    = ', '
                if user.about
                    h4 About
                    | #{user.about|markdown:"self-description"}
                else
                    i
                        if user.user == request.user
                            | You have not shared any information.
                        else
                            | This user has not shared any information.
                br
    if authored
        hr
        div.user-problem-group
            h3.unselectable.toggle.open
                span.fa.fa-chevron-right.fa-fw
                | Authored Problems (#{authored|length})
            ul.toggled
                each problem in authored
                    li
                        a(href='{% url "problem_detail" problem.code %}')= problem.name
                        |  (
                        a(href='{% url "ranked_submissions" problem.code %}') #{problem.points|floatformat}{% if problem.partial %}p{% endif %}
                        | )
    if request.user.is_authenticated and request.user != user.user
        .strike
            span
                form(name='form', action='', method='get')
                    input(style='vertical-align:middle', onclick='form.submit()', name='hide_solved', id='hide_solved', value='1', type='checkbox')
                    label(style='vertical-align:middle', for='hide_solved') Hide problems I've solved
    else
        hr
    - regroup best_submissions by group as problems
    each group in problems
        div.user-problem-group
            h3.unselectable.toggle.open
                span.fa.fa-chevron-right.fa-fw
                | #{group.grouper}
                | (#{group.list|list_getitem:"points"|sum_list|floatformat:1} points)
            ul.toggled
                each entry in group.list
                    if entry.id not in completed_problem_ids
                        li
                            a(href='{% url "problem_detail" entry.code %}') #{entry.name}
                            |  (
                            a(href='{% url "user_submissions" entry.code user.user.username %}') #{entry.points} / #{entry.total}
                            | )
