extends base
- load staticfiles
- load gravatar
- load list_processor
- load markdown_trois_tags
- load rating
- load i18n

block media
    block user_media
    style.
        .user-gravatar {
            display: block;
            padding-right: 15px;
            width: 135px;
        }

        .user-gravatar img {    
            width: 135px;
            height: 135px;
            display: block;
            border-radius: 6px;
        }

        .page-title {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .user-content {
            width: 100%;
        }


block body
    table
        tr
            td(style='padding-left:1em')
                .user-gravatar
                    img(src='{% gravatar_url user.user.email 135 user.mute %}', alt='gravatar', width="135px", height="135px")
                br
                // Transblock
                h4 #{user.problem_count} problems solved.
                b {% trans "Rank by points:" %}
                |  ##{rank}
                br
                b {% trans "Total points:" %}
                |  #{user.points}
                br
                .pp-feature
                    br
                    b {% trans "Rank by PP:" %}
                    |  ##{pp_rank}
                    br
                    b {% trans "Total PP:" %}
                    |  #{user.performance_points|floatformat:2}
                    br
                a(href='{% url "all_user_submissions" user.user.username %}') {% trans "View submissions" %}
                if ratings
                    br
                    br: br
                    h4 #{ratings|length} contests written.
                    b {% trans "Rank by rating:" %}
                    |  ##{rating_rank}
                    br
                    b {% trans "Rating:" %}
                    = ' '
                    span.rate-group
                        span.rate-box(class='{{ rating.rating|rating_class }}')
                            span(style='height: {{ rating.rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ rating.rating|rating_class }}') #{rating.rating}
                    br
                    b {% trans "Volatility:" %}
                    |  #{rating.volatility}
                    br
                    b {% trans "Min. rating:" %}
                    = ' '
                    span.rate-group
                        span.rate-box(class='{{ min_rating|rating_class }}')
                            span(style='height: {{ min_rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ min_rating|rating_class }}') #{min_rating}
                    br
                    b {% trans "Max rating:" %}
                    = ' '
                    span.rate-group
                        span.rate-box(class='{{ max_rating|rating_class }}')
                            span(style='height: {{ max_rating|rating_progress|floatformat:3 }}em')
                        span.rating(class='{{ max_rating|rating_class }}') #{max_rating}
                br

            td.user-content
                block user_content
